<div class="box box--no-padding">
  {{#each sections }}
  <div class="section section--boxed">
    <header class="section__header">
<<<<<<< HEAD
      <h2 class="h3 section__header-title"><span class="section__header-title-text">Sektionstitel<span></h2>
=======
      <h2 class="h3 section__header-title"><span class="section__header-title-text">{{ title }}<span></span></h2>
>>>>>>> @{-1}
      <div class="section__header-preamble text-secondary">
        {{{ description }}}
      </div>
    </header>
    <div class="section__body">
      {{{ body }}}
    </div>
  </div>
  {{/each}}
</div>
