///
/// Typography
/// This partial contains all your far-reaching typography styles.
/// Global classes for headings and copy.
///============================================================================
///
/// Size
///----------------------------------------------------------------------------

.text-small {
  font-size: $font-size-sm;       // 16px
  line-height: $line-height-sm;
}

.text-standard {
  font-size: $font-size-std;      // 18px
  line-height: $line-height-std;
}

.text-medium {
  font-size: $font-size-md;       // 24px
  line-height: $line-height-md;
}

@media (max-width: 375.9999px) {
  .text-small { font-size: 0.875rem; line-height: 1.72; }   // 14px
  .text-standard { font-size: 1rem; line-height: 1.5; }     // 16px
  .text-medium { font-size: 1.25rem; line-height: 1.5; }    // 20px
}

///
/// Reusable positioning
///----------------------------------------------------------------------------
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

///
/// Coloring
///----------------------------------------------------------------------------
.text-black {
  color: $color-black;
}

.text-error {
  color: $color-error;
  font-size: $font-size-sm;
}

///
/// Margins
///----------------------------------------------------------------------------
.text-mt-large {
  margin-top: 1.875rem;
}

.text-margin-reset {
  margin: 0 !important;
}

///
/// Other
///----------------------------------------------------------------------------
.text-uppercase {
  text-transform: uppercase;
}
