$block: 'mobile-menu';

.#{$block} {

  display: none;

  &--open {
    display: block;
  }

  &__links {
    height: 100%;
    padding: 0;
    background-color: $color-purple-light;
  }

  &__header {
    min-height: 4.5rem;
    padding: 0.9375rem 0;
    background-color: $color-white;
    border-top: 3px solid $color-purple-dark;

    &-title {
      margin: 0;
    }

    &-link {
      padding: 0.375rem 0.75rem 0.375rem calc(12px + 1.5rem);
      background-image: url('../assets/img/close.svg');
      background-size: 1.5rem;
      background-position: left 6px center;
      background-repeat: no-repeat;
      border-radius: 3px;
      cursor: pointer;
      color: $color-black;
      font-size: $font-size-sm;
      line-height: $line-height-sm;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active,
      &:active:focus {
        color: $color-purple-dark;
        text-decoration: underline;
      }
    }

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__list {
    width: 100%;
    list-style: none;
    padding: .125rem 0;
    margin: 0;

    &-item {
      width: 100%;
      padding: 0.625rem 0;
      border-bottom: 1px solid $color-purple;

      &:last-child {
        border-bottom: none;
      }

      &-link {
        width: 100%;
        text-decoration: none;
        color: $color-purple-dark;
        font-weight: $font-weight-bold;
        font-size: rem(20px);
        line-height: rem(26px);

        &:hover,
        &:focus,
        &:active,
        &:active:focus {
          color: $color-purple-dark;
        }
      }
    }
  }
}
