$block: 'header';

.#{$block} {
  background-color: $color-white;
  padding: 1.125rem 0;
  border-top: 3px solid $color-skolverket-purple;
  border-bottom: 1px solid $color-purple;
  margin-bottom: 2.25rem;
  min-height: 4.5rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.125rem;
    padding-right: 1.125rem;

    &-logo {
      width: 160px;
      height: 30px;
      background-image: url('../images/skolverket-logotype.svg');
      background-position: left 0px center;
      background-repeat: no-repeat;
    }

    &-menu {
      padding: 0.4375rem 0.75rem 0.4375rem calc(20px + 1rem);
      cursor: pointer;
      background-image: url('../images/mobilemenu.svg');
      background-size: 1rem 1rem;
      background-position: left 12px center;
      background-repeat: no-repeat;
      border-radius: 3px;

      &:hover,
      &:focus,
      &:active,
      &:active:focus {
        background-color: $color-purple-light;
      }
    }
  }
}
