$block: 'menu';

.#{$block} {
  background-color: $color-white;
  width: 340px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 10px 0px 24px 0 rgba(108, 39, 106, 0.25);
  z-index: 1;
  transition-duration: 0.5s;
  border-left: 1px solid $color-purple;

  &--open {
    transform: translateX(0px);
    transition-timing-function: ease-in;
  }

  &--close {
    transform: translateX(340px);
    transition-timing-function: ease-out;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    margin-bottom: 1.25rem;

    &-logo {
      width: 160px;
      height: 30px;
      background-image: url('../images/skolverket-logotype.svg');
      background-position: left 0px center;
      background-repeat: no-repeat;
    }

    &-close {
      padding: 0.4375rem 0.75rem 0.4375rem calc(20px + 0.75rem);
      cursor: pointer;
      background-image: url('../images/close.svg');
      background-size: 0.75rem 0.75rem;
      background-position: left 12px center;
      background-repeat: no-repeat;
      border-radius: 3px;

      &:hover {
        background-color: $color-purple-light;
      }
    }
  }

  &__title {
    font-weight: $font-weight-heavy;
    padding: 0.625rem 1.25rem;
    color: $color-skolverket-purple;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      &--link {
        width: 100%;
        text-decoration: none;
        color: $color-skolverket-purple;
        padding: 0.625rem 1.25rem 0.625rem 2.5rem;

        &:hover,
        &:focus,
        &:active,
        &:active:focus {
          color: $color-black;
          background-color: $color-purple-light;
          text-decoration: none;
          font-weight: $font-weight-medium;
          border-left: 5px solid $color-skolverket-purple;
        }
      }
    }
  }
} // react component <NavLink/> auto adds .active class to the class of active url
.menu__list-item--link.active {
  font-weight: $font-weight-medium;
  background-color: $color-purple-light;
  color: $color-black;
  border-left: 5px solid $color-skolverket-purple;
} 
