{{#if label }}<span class="visually-hidden" aria-hidden="true">{{label}}</span>{{/if}}
<svg class="skv-icon{{#if inline }} skv-icon--inline{{/if}}{{#if block }} skv-icon--block{{/if}}{{#if middle }} skv-icon--middle{{/if}}{{#if class }} {{ class }}{{/if}}"{{#if attr}} {{{ attr }}}{{/if}}>
  <use xlink:href="#icon-{{ name }}"></use>
</svg>
