<div class="page">
	{{ render '@header' }}
	<div class="container container--margins">
		<div class="row">
			<div class="col-12 col-md-8">
				<div class="box box--compact box--no-border">
					<h2 class="h2 margin-tp-reset">En tydlig områdersrubrik</h2>
					<p class="text-standard">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
						ut labore et dolore magna aliqua.</p>
					<ul class="content-navigation-list">
						<li class="content-navigation-list__item">
							<a href="#1" class="content-navigation-list__item-link text-large">
								Navigationsval 1
								<i class="icon-arrow icon-arrow--lg"></i>
							</a>
						</li>
						<li class="content-navigation-list__item">
							<a href="#2" class="content-navigation-list__item-link text-large">
								Navigationsval 2
								<i class="icon-arrow icon-arrow--lg"></i>
							</a>
						</li>
						<li class="content-navigation-list__item">
							<a href="#3" class="content-navigation-list__item-link text-large">
								Navigationsval 3
								<i class="icon-arrow icon-arrow--lg"></i>
							</a>
						</li>
						<li class="content-navigation-list__item content-navigation-list__item--no-border">
							<a href="#4" class="content-navigation-list__item-link text-large">
								Navigationsval med extra mycket text
								<i class="icon-arrow icon-arrow--lg"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<img src="/tmp/img/overview.png" />
			</div>
		</div>
	</div>
	<div class="container container--no-padding">
		<div class="box box--no-padding box--mb-large">
			<div class="section section--boxed">
				<header class="section__header">
					<h2 class="h3 section__header-title"><span class="section__header-title-text">Sektionstitel<span></h2>
					<div class="section__header-preamble text-secondary">
						<p>Kontextuell fördjupningstext <a href="/press" class="text-link">med länk</a></p>
					</div>
				</header>
				<div class="section__body">
					<img src="http://placehold.it/800x250/ffffff/E8D3E0?text=(Sektionens innehåll)" style="max-width: 100%" />
				</div>
			</div>
		</div>
	</div>
</div>