.Header {
	background: #692759;
	background: white;
	border-bottom: 1px solid #AAA;
	box-shadow: none;
	color: #333;
	font-weight: bold;
}
.Header svg {
	fill: #333;
}

[dir="ltr"] .Frame-panel--sidebar {
	background: #F8F4F8;
	border: none;
}

.Browser-tab a {
	border-width: 4px;
}
.Browser-tab.is-active a {
	border-color: #692759;
}

.Tree-collectionLabel {
	font-weight: bold;
}

.Tree-entityLink {
	color: inherit;
}

.Browser-panel {
	background: white;
}

.Browser-panel .Code {
	background: white;
}

.Document .Prose {
	margin: 0 auto;
	max-width: 50em;
}