@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");

html {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.Header {
	background: #692759;
	font-weight: bold;
}

[dir="ltr"] .Frame-panel--sidebar {
	background: #F8F4F8;
	border: none;
}

.Browser-tab a {
	border-width: 4px;
}
.Browser-tab.is-active a {
	border-color: #692759;
}

.Tree-collectionLabel {
	font-weight: bold;
}

.Tree-entityLink {
	color: inherit;
}

.Browser-panel {
	background: white;
}