$block: 'btn';

.#{$block} {
  display: inline-block;
  background-color: $color-vinered;
  color: $color-white;
  border: 1px solid $color-skolverket-purple;
  border-radius: 3px;

  &--small {
    width: 102px;
    padding: 7px 12px;
    font-size: 16px;
  }

  &--standard {
    width: 138px;
    padding: 10px 15px;
    font-size: 18px;
  }

  &--large {
    width: 132px;
    padding: 14px 15px;
    font-size: 22px;
  }
}
