$block: 'btn';

.#{$block} {
  display: inline-block;
  font-weight: $font-weight-medium;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.3725rem 1.3125rem;
  font-size: $font-size-std;
  line-height: $line-height-std;
  border-radius: 0.1875rem;
  transition: all .2s ease-in-out;
  background-color: $color-white;

  &:hover {
    box-shadow: 0 7px 14px 0 rgba(108, 39, 106, 0.6);
  }

  &:focus,
  &.focus {
    outline: 0;
    border: 2px solid $color-yellow;
    margin: -1px;

    &:hover {
      box-shadow: none;
    }
  } 
  
  &:active,
  &.active {
    border-color: $color-yellow;
  } 
  
  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    background-color: $color-gray-light;
    color: #999999;
    cursor: not-allowed;
    border: 0;

    &:hover,
    &:focus {
      box-shadow: none;
      border: 0;
      margin: 0;
      background-color: $color-gray-light;
    }
  }
 
  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not([disabled]):not(.disabled) {
    cursor: pointer;
  }

  &--primary {
    color: $color-white;
    background-color: $color-purple-dark;
    border-color: $color-purple-dark;
  }

  &--secondary {
    color: $color-purple-dark;
    background-color: $color-white;
    border-color: $color-purple;
  }

  &--small {
    padding: 0.125rem 1.3125rem;
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }

  &--block {
    display: block;
    width: 100%;

    &:focus,
    &.focus {
      margin: -1px 0;
    }
  }

  &-icon {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: calc(20px + 1.25rem);
    padding-right: 0.875rem;
    background-size: 1.25rem;
    background-position: left 12px center;
    border: 2px solid transparent;

    &:hover {
      box-shadow: none;
      background-color: $color-purple-light;
    }

    &:focus,
    &.focus {
      background-color: $color-purple-light;
      margin: 0;
    }

    &--right {
      padding-left: 0.875rem;
      padding-right: calc(8px + 1.25rem);
      background-position: right 6px center;
    }
  }
}
