<div class="form-group">
	{{#if title}}<label class="text-standard" for="inputSearch">{{ title }}</label>{{/if}}
	<div class="form-group-search">
		<input type="text" class="form-control form-control--search icon-search" id="inputSearch" placeholder="{{ placeholder }}" />
		{{> @btn theme='primary' text='Sök'  }}
	</div>
</div>
