<div class="skv-form-group">
	<label class="text-standard" for="inputSearch">Sökfältsrubrik</label>
	<div class="skv-form-group-search">
		<input type="text" class="skv-form-control skv-form-control--search icon-search" id="inputSearch" placeholder="Platshållare" />
		{{> @btn theme='primary' text='Sök'  }}
	</div>
</div>
