$block: 'form';

.#{$block} {
  display: flex;
  border-top: 3px solid $color-skolverket-purple;
  padding-top: 3.625rem;
  padding-bottom: 1.875rem;
  background-color: $color-white;

  &-group {
    margin-bottom: .875rem;

    &__sublabel {
      font-size: 1rem;
      line-height: 1.75;
      color: $color-gray;
      font-style: italic;
      margin-bottom: 0.5rem;
    }
  }

  &-control {
    display: block;
    max-width: 408px;
    width: 100%;
    padding: .3125rem .875rem;
    font-size: 1rem;
    line-height: 1.75;
    color: $color-gray;
    background-color: $color-purple-light;
    border: 2px solid transparent;

    &:focus {
      border: solid 2px $color-yellow;
      outline: 0;
      color: $color-black;
    }

    &[readOnly] {
      background-color: $color-gray-light;
      &:focus {
        border: 2px solid transparent;
      }
    }

    &--error {
      border: 1px solid $color-error;
      box-shadow: 0 3px 0 0 $color-error;
      padding-right: 2.625rem;
      background-position: center right .625rem;
      background-size: 1.25rem 1.25rem;
      margin-bottom: .5rem;

      &-textarea {
        background-position: top .5rem right .625rem;
      }
    }

    &--search {
      padding-left: 2.625rem;
      background-position: center left .625rem;
      background-size: 1.25rem 1.25rem;
      margin-right: .5rem;
    }

    &.dropdown {
      min-height: 42px;
      padding-right: 2.625rem;
      background-position: center right .625rem;
      background-size: 1.25rem 1.25rem;
    }
  }
  
  // Custom control (checkbox, radio)
  .custom-control {
    position: relative;
    display: block;
    min-height: 1rem;
    padding-left: 1.5rem;
    margin-right: 1rem;
  }

  .custom-control-input {
    position: absolute;
    z-index: -1; // Put the input behind the label so it doesn't overlay text
    opacity: 0;
  
    &:checked ~ .custom-control-label::before {
      background-color: $color-skolverket-purple;
    }
  
    &:active ~ .custom-control-label::before {
      background-color:  $color-purple;
    }
  
    &:disabled {
      ~ .custom-control-label {
        color: $color-gray;
  
        &::before {
          background-color: $color-gray-light;
          border: solid 2px rgba(153, 153, 153, 0.4);
        }
      }
    }
  }

  .custom-control-label {
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;

    // Background-color
    &::before {
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto 0;
      width: 1.125rem;
      height: 1.125rem;
      background-color: $color-white;
      border: 2px solid $color-skolverket-purple;
      content: "";
    }
  
    // Foreground (icon)
    &::after {
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto 0;
      width: 1.125rem;
      height: 1.125rem;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 0.875rem;
      content: "";
    }
  }

  // Custom checkbox
  .custom-checkbox {
    .custom-control-label::before {
      border-radius: .125rem;
    }

    .custom-control-input:checked ~ .custom-control-label {
      &::after {
        background-image: url('../images/tick-white.svg');
      }
    }
  }

  // Custom radio
  .custom-radio {
    .custom-control-label::before {
      border-radius: 50%;
    }

    .custom-control-input:checked ~ .custom-control-label {
      &::before {
        background-color: $color-white;
      }
      &::after {
        background-image: url('../images/radio-checked.svg');
        background-size: 0.7185rem;
      }
    }
  }

  .margin-reset {
    margin: 0;
  }
}
