<form>
  <div class="form-group">
    <label class="form-label form-label--margin-reset" for="exampleInputEmail1">Textfältstitel</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Platshållare">
  </div>
  <div class="form-group">
    <label class="form-label form-label--margin-reset" for="exampleInputEmail1">Textfältstitel</label>
    <span id="emailHelp" class="form-text">Kontextuell hjälptext</span>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Platshållare">
  </div>
  <div class="form-group">
    <label class="form-label" for="exampleInputDisabled1">Textfältstitel</label>
    <input class="form-control" id="exampleInputDisabled1" type="text" placeholder="Inaktivt textfält" disabled>
  </div>
  <div class="form-group">
    <label class="form-label" for="exampleInputReadonly1">Textfältstitel</label>
    <input class="form-control" id="exampleInputReadonly1" type="text" value="Inaktivt textfält där texten kan kopieras men inte ändras" placeholder="Inaktivt textfält" readonly>
  </div>
  <div class="form-group">
    <label class="form-label" for="exampleInputReadonly1">Textfältstitel<span class="text-error">*</span></label>
    <input class="form-control form-control--error icon-error" id="exampleInputReadonly1" type="text" placeholder="">
    <span class="text-error text-small">Hjälpsamt felmeddelande</span>
  </div>
  <div class="form-group">
    <label class="form-label form-label--margin-reset" for="exampleTextarea1">Textfältstitel</label>
    <textarea class="form-control" id="exampleTextarea1" rows="4" aria-describedby="textareaHelp" placeholder="Platshållare"></textarea>
  </div>
</form>