//
// Textual form controls
//

$color-input: $color-gray !default;
$color-input-bg: $color-purple-light !default;

.skv-form-control {
  display: block;
  width: 100%;
  min-height: 42px;
  padding: 0.3125rem 0.875rem;
  font-size: rem(16px);
  line-height: rem(24px);
  color: $color-input;
  background-color: $color-input-bg;
  background-clip: padding-box;
  border: 0;

  @include media-min("md") {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &:focus {
    outline: 2px solid $color-yellow;
    color: $color-black;
  }

  // Placeholder
  &::placeholder {
    color: $color-input;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    background-color: $color-gray-light;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &--error {
    border: 2px solid $color-error;
    box-shadow: 0 3px 0 0 $color-error;
    padding-right: 2.625rem;
    background-position: center right 0.625rem;
    background-size: 1.5rem;
    background-color: #fcf4f4;
    margin-bottom: 0.5rem;

    &-textarea {
      background-position: top 0.5rem right 0.625rem;
    }

    &:focus {
      outline: 2px solid $color-yellow;
      border-color: transparent;
    }
  }

  &--search {
    padding-left: 2.625rem;
    background-position: left 0.625rem center;
    background-size: 1.5rem;
    margin-right: 0.5rem;
  }
}

select.skv-form-control {
  padding-right: 2.625rem;
  background-position: right 0.625rem center;
  background-size: 1.25rem 1.25rem;
  border-radius: 0;

  /*for firefox*/
  -moz-appearance: none;
  /*for chrome*/
  -webkit-appearance: none;

  /*for IE10*/
  &::-ms-expand {
    display: none;
  }

  &:focus::-ms-value {
    // Suppress the nested default white text on blue background highlight given to
    // the selected option text when the (still closed) <select> receives focus
    // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
    // match the appearance of the native widget.
    // See https://github.com/twbs/bootstrap/issues/19398.
    color: $color-input;
    background-color: $color-input-bg;
  }

  &[disabled] {
    background-color: $color-gray-light;
    opacity: 0.6;
  }
}

// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.
.skv-form-group {
  margin-bottom: 1.75rem;
  width: 100%;

  &-search {
    display: flex;
  }

  &--margin-b-small {
    margin-bottom: 0.625rem;
  }
}

.skv-form-label {
  // Allow labels to use `margin` for spacing.
  display: inline-block;
  font-weight: $font-weight-bold;
  margin-bottom: ($baseline / 4);
  font-size: rem(18px);
  line-height: rem(24px);

  @include media-min("md") {
    font-size: $font-size-h4;
    line-height: $line-height-h4;
  }

  &--margin-reset {
    margin: 0;
  }
}

.skv-form-text {
  display: block;
  color: $color-gray;
  font-style: italic;
  margin-bottom: 0.5rem;
  font-size: rem(16px);
  line-height: rem(24px);

  @include media-min("md") {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }
}

// Custom control (checkbox, radio)
//
// Following Bootstrap 4 naming convention but extended with BEM
.skv-custom-control {
  position: relative;
  display: block;
  min-height: 1rem;
  padding-left: 1.5rem;
  margin-right: 1rem;
}

.skv-custom-control__input {
  position: absolute;
  z-index: -1;
  // Put the input behind the label so it doesn't overlay text
  opacity: 0;

  &:checked ~ .skv-custom-control__label::before {
    background-color: $color-purple-dark;
  }

  &:active ~ .skv-custom-control__label::before {
    background-color: $color-purple;
  }

  &:focus ~ .skv-custom-control__label::before {
    // ???
    outline: 1px solid #4d90fe;
  }

  &:disabled {
    ~ .skv-custom-control__label {
      color: $color-gray;
      cursor: not-allowed;

      &::before {
        background-color: $color-gray-light;
        border: solid 2px rgba(153, 153, 153, 0.4);
      }
    }
  }
}

.skv-custom-control__label {
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
  font-size: rem(18px);
  line-height: rem(24px);

  @include media-min("md") {
    font-size: $font-size-std;
    line-height: $line-height-std;
  }

  // Background-color
  &::before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    width: 1.125rem;
    height: 1.125rem;
    background-color: $color-white;
    border: 2px solid $color-purple-dark;
    content: "";
  }

  // Foreground (icon)
  &::after {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    width: 1.125rem;
    height: 1.125rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0.875rem;
    content: "";
  }
}

// Custom checkbox
.skv-custom-control--checkbox {
  .skv-custom-control__label::before {
    border-radius: 0.125rem;
  }

  .skv-custom-control__input:checked ~ .skv-custom-control__label {
    &::after {
      background-image: url("../assets/img/tick-white.svg");
    }
  }
}

// Custom radio
.skv-custom-control--radio {
  .skv-custom-control__label::before {
    border-radius: 50%;
  }

  .skv-custom-control__input:checked ~ .skv-custom-control__label {
    &::before {
      background-color: $color-white;
    }
    &::after {
      background-image: url("../assets/img/radio-checked.svg");
      background-size: 0.75rem;
    }
  }
}
