<form>
  {{#each checkboxes}}
    <div class="custom-control custom-control--checkbox">
      <input type="checkbox" class="custom-control__input" id="{{ id }}">
      <label class="custom-control__label" for="customCheck1">{{ label }}</label>
    </div>
  {{/each}}
</form>
