<form>
	<div class="custom-control custom-control--checkbox">
		<input type="checkbox" class="custom-control__input" id="customCheck1">
		<label class="custom-control__label" for="customCheck1">Kryssboxval 1</label>
	</div>
	<div class="custom-control custom-control--checkbox">
		<input type="checkbox" class="custom-control__input" id="customCheck2">
		<label class="custom-control__label" for="customCheck2">Kryssboxval 1</label>
	</div>
	<div class="custom-control custom-control--checkbox">
		<input type="checkbox" class="custom-control__input" id="customCheck3" disabled>
		<label class="custom-control__label" for="customCheck3">Inaktiv kryssbox</label>
	</div>
</form>