<form>
	<div class="custom-control custom-control--radio">
		<input type="radio" id="customRadio1" name="customRadio" class="custom-control__input">
		<label class="custom-control__label" for="customRadio1">Radioknappsval 1</label>
	</div>
	<div class="custom-control custom-control--radio">
		<input type="radio" id="customRadio2" name="customRadio" class="custom-control__input">
		<label class="custom-control__label" for="customRadio2">Radioknappsval 2</label>
	</div>
	<div class="custom-control custom-control--radio">
		<input type="radio" id="customRadio3" name="customRadio" class="custom-control__input" disabled>
		<label class="custom-control__label" for="customRadio3">Inaktiv radioknapp</label>
	</div>
</form>