

<div class="skv-section skv-section--boxed">
  <header class="skv-section__header">
    <h2 class="h3 skv-section__header-title"><span class="skv-section__header-title-text">En bildpuff<span></h2>
  </header>
  <div class="skv-section__body">
    <div class="row">
      <div class="col-12 col-md-6">
        <ul class="skv-content-navigation-list">
          <li class="skv-content-navigation-list__item skv-content-navigation-list__item--no-border">
            <img src="/styleguide/tmp/img/people-16x9-1.jpg" class="skv-content-navigation-list__item-image-large" />
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <ul class="skv-content-navigation-list">
          <li class="skv-content-navigation-list__item skv-content-navigation-list__item--no-border">
            <a href="" class="skv-content-navigation-list__item-link text-standard">
              Quisque augue dui suscipit consequat <i class="icon-arrow icon-arrow--lg"></i>
            </a>
            <p class="skv-content-navigation-list__item-text text-small">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="skv-section skv-section--boxed">
  <header class="skv-section__header">
    <h2 class="h3 skv-section__header-title"><span class="skv-section__header-title-text">En bildpuff<span></h2>
  </header>
  <div class="skv-section__body">
    <div class="row">
      <div class="col-12 col-md-6">
        <ul class="skv-content-navigation-list">
          <li class="skv-content-navigation-list__item skv-content-navigation-list__item--no-border">
            <img src="/styleguide/tmp/img/people-16x9-1.jpg" class="skv-content-navigation-list__item-image-large" />
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <ul class="skv-content-navigation-list">
          <li class="skv-content-navigation-list__item skv-content-navigation-list__item--no-border">
            <a href="" class="skv-content-navigation-list__item-link text-standard">
              Quisque augue dui suscipit consequat <i class="icon-arrow icon-arrow--lg"></i>
            </a>
            <p class="skv-content-navigation-list__item-text text-small">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

