

<div class="skv-section skv-section--boxed">
  <header class="skv-section__header">
    <h2 class="h3 skv-section__header-title"><span class="skv-section__header-title-text">Tre bildpuffar<span></h2>
  </header>
  <div class="skv-section__body">
    <div class="row">
      <div class="col-12 col-md-4">
        <ul class="skv-content-navigation-list">
          <li class="skv-content-navigation-list__item skv-content-navigation-list__item--no-border">
            <img src="/styleguide/tmp/img/people-16x9-2.jpg" class="skv-content-navigation-list__item-image-large" />
            <a href="" class="skv-content-navigation-list__item-link text-standard">
              Vivamus placerat, neque quis rutrum feugiat turpis <i class="icon-arrow icon-arrow--lg"></i>
            </a>
            
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <ul class="skv-content-navigation-list">
          <li class="skv-content-navigation-list__item skv-content-navigation-list__item--no-border">
            <img src="/styleguide/tmp/img/people-16x9-3.jpg" class="skv-content-navigation-list__item-image-large" />
            <a href="" class="skv-content-navigation-list__item-link text-standard">
              Vivamus placerat, neque quis <i class="icon-arrow icon-arrow--lg"></i>
            </a>
            
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <ul class="skv-content-navigation-list">
          <li class="skv-content-navigation-list__item skv-content-navigation-list__item--no-border">
            <img src="/styleguide/tmp/img/people-16x9-1.jpg" class="skv-content-navigation-list__item-image-large" />
            <a href="" class="skv-content-navigation-list__item-link text-standard">
              Vivamus placerat, neque quis rutrum feugiat, turpis turpis placerat <i class="icon-arrow icon-arrow--lg"></i>
            </a>
            
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="skv-section skv-section--boxed">
  <header class="skv-section__header">
    <h2 class="h3 skv-section__header-title"><span class="skv-section__header-title-text">Tre bildpuffar<span></h2>
  </header>
  <div class="skv-section__body">
    <div class="row">
      <div class="col-12 col-md-4">
        <ul class="skv-content-navigation-list">
          <li class="skv-content-navigation-list__item skv-content-navigation-list__item--no-border">
            <img src="/styleguide/tmp/img/people-16x9-2.jpg" class="skv-content-navigation-list__item-image-large" />
            <a href="" class="skv-content-navigation-list__item-link text-standard">
              Vivamus placerat, neque quis rutrum feugiat turpis <i class="icon-arrow icon-arrow--lg"></i>
            </a>
            
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <ul class="skv-content-navigation-list">
          <li class="skv-content-navigation-list__item skv-content-navigation-list__item--no-border">
            <img src="/styleguide/tmp/img/people-16x9-3.jpg" class="skv-content-navigation-list__item-image-large" />
            <a href="" class="skv-content-navigation-list__item-link text-standard">
              Vivamus placerat, neque quis <i class="icon-arrow icon-arrow--lg"></i>
            </a>
            
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <ul class="skv-content-navigation-list">
          <li class="skv-content-navigation-list__item skv-content-navigation-list__item--no-border">
            <img src="/styleguide/tmp/img/people-16x9-1.jpg" class="skv-content-navigation-list__item-image-large" />
            <a href="" class="skv-content-navigation-list__item-link text-standard">
              Vivamus placerat, neque quis rutrum feugiat, turpis turpis placerat <i class="icon-arrow icon-arrow--lg"></i>
            </a>
            
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

