

<div class="skv-section skv-section--boxed">
  <header class="skv-section__header">
    <h2 class="h3 skv-section__header-title"><span class="skv-section__header-title-text">Två bildpuffar<span></h2>
  </header>
  <div class="skv-section__body">
    <div class="row">
      <div class="col-12 col-md-6">
        <ul class="skv-content-navigation-list">
          <li class="skv-content-navigation-list__item skv-content-navigation-list__item--no-border">
            <a href="#1" class="skv-content-navigation-list__item-link text-standard">
              Quisque augue dui suscipit consequat <i class="icon-arrow icon-arrow--lg"></i>
            </a>
            <p class="skv-content-navigation-list__item-text text-small">Lorem ipsum dolor sit amet. Aliquam dictum ac elit semper malesuada venenatis. Aliquam dictum ac elit semper malesuada venenatis.</p>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <ul class="skv-content-navigation-list">
          <li class="skv-content-navigation-list__item skv-content-navigation-list__item--no-border">
            <a href="#2" class="skv-content-navigation-list__item-link text-standard">
              Suscipit consequat quisque augue dui <i class="icon-arrow icon-arrow--lg"></i>
            </a>
            <p class="skv-content-navigation-list__item-text text-small">Lorem ipsum dolor sit amet.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

