

<div class="skv-box skv-box--no-padding">
  <div class="skv-section section--boxed">
    <header class="skv-section__header">
      <h2 class="h3 skv-section__header-title"><span class="skv-section__header-title-text">Områdestitel<span></h2>
      <div class="skv-section__header-preamble text-secondary">
        Kontextuell fördjupningstext.
      </div>
    </header>
    <div class="skv-section__body">
      <div class="row">
        <div class="col-12 col-md-6">
          <ul class="skv-content-navigation-list">
              <li class="skv-content-navigation-list__item">
                <a href="#" class="skv-content-navigation-list__item-link text-standard">
                  Områdeslänk
                  <i class="icon-arrow"></i>
                </a>
                <p class="text-small margin-bt-reset">Sed ut perspiciatis unde omnis iste natus.</p>
              </li>
              <li class="skv-content-navigation-list__item">
                <a href="#" class="skv-content-navigation-list__item-link text-standard">
                  Phasellus mattis diam convallis lectus ultricies
                  <i class="icon-arrow"></i>
                </a>
                <p class="text-small margin-bt-reset">Doloremque laudantium, totam rem aperiam ipsa quae ab unde omnis.</p>
              </li>
              <li class="skv-content-navigation-list__item">
                <a href="#" class="skv-content-navigation-list__item-link text-standard">
                  Phasellus convallis lectus ultricies
                  <i class="icon-arrow"></i>
                </a>
                <p class="text-small margin-bt-reset">Totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
              </li>
          </ul>
        </div>
        <div class="col-12 col-md-6">
          <ul class="skv-content-navigation-list">
              <li class="skv-content-navigation-list__item">
                <a href="#1" class="skv-content-navigation-list__item-link text-standard">
                  Områdeslänk
                  <i class="icon-arrow"></i>
                </a>
                <p class="text-small margin-bt-reset">Sed ut perspiciatis unde omnis iste natus sed ut perspiciatis unde omnis iste natus.</p>
              </li>
              <li class="skv-content-navigation-list__item">
                <a href="#" class="skv-content-navigation-list__item-link text-standard">
                  Phasellus mattis diam convallis lectus ultricies
                  <i class="icon-arrow"></i>
                </a>
                <p class="text-small margin-bt-reset">Doloremque totam rem aperiam.</p>
              </li>
              <li class="skv-content-navigation-list__item">
                <a href="#" class="skv-content-navigation-list__item-link text-standard">
                  Phasellus convallis lectus ultricies
                  <i class="icon-arrow"></i>
                </a>
                <p class="text-small margin-bt-reset">Totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

