

<form>
	<div class="skv-form-group">
		<label class="text-standard" for="exampleDropdown1">Rullgardinsrubrik</label>
		<select class="skv-form-control icon-dropdown-arrow" id="exampleDropdown1">
			<option value="1">Rullgardinsval 1</option>
			<option value="1">Rullgardinsval 2</option>
			<option value="1">Rullgardinsval 3</option>
		</select>
	</div>
	<div class="skv-form-group">
		<label class="text-standard" for="exampleDropdown2">Rullgardinsrubrik</label>
		<select class="skv-form-control icon-dropdown-arrow-disabled" id="exampleDropdown2" disabled>
			<option value="1">Inaktiv rullgardin</option>
		</select>
	</div>
</form>

