

<div class="container container--margins">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="skv-box skv-box--compact skv-box--no-border">
        <h2 class="h2 margin-tp-reset">En tydlig områdersrubrik</h2>
        <p class="text-standard">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt
          ut labore et dolore magna aliqua.</p>
        <ul class="skv-content-navigation-list">
          <li class="skv-content-navigation-list__item">
            <a href="#1" class="skv-content-navigation-list__item-link text-large">
              Navigationsval 1
              <i class="icon-arrow icon-arrow--lg"></i>
            </a>
          </li>
          <li class="skv-content-navigation-list__item">
            <a href="#2" class="skv-content-navigation-list__item-link text-large">
              Navigationsval 2
              <i class="icon-arrow icon-arrow--lg"></i>
            </a>
          </li>
          <li class="skv-content-navigation-list__item">
            <a href="#3" class="skv-content-navigation-list__item-link text-large">
              Navigationsval 3
              <i class="icon-arrow icon-arrow--lg"></i>
            </a>
          </li>
          <li class="skv-content-navigation-list__item skv-content-navigation-list__item--no-border">
            <a href="#4" class="skv-content-navigation-list__item-link text-large">
              Navigationsval med extra mycket text
              <i class="icon-arrow icon-arrow--lg"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <img src="/tmp/img/overview.png" alt="Elever i skolan" />
    </div>
  </div>
</div>
<div class="container container--no-padding">
  <div class="skv-box skv-box--no-padding skv-box--mb-large">
    <div class="skv-section skv-section--boxed">
      <header class="skv-section__header">
        <h2 class="h3 skv-section__header-title"><span class="skv-section__header-title-text">Sektionstitel</span></h2>
      </header>
      <div class="skv-section__body">
          <div class="skv-reveal" data-js-reveal>
  <header class="skv-reveal__header skv-reveal__header--open" data-js-reveal-header>
    <h3 class="skv-reveal__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lectus diam, hendrerit vel nunc et, tincidunt ullamcorper ligula</h3>
    <button class="skv-reveal__toggle" aria-label="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lectus diam, hendrerit vel nunc et, tincidunt ullamcorper ligula" aria-controls="111" aria-expanded="true" data-js-reveal-trigger>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--close">Dölj</span>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--open">Visa</span>
      <span class="skv-reveal__toggle-icon">
        
        <svg class="skv-icon">
          <use xlink:href="#icon-expand-more"></use>
        </svg>
      </span>
    </button>
  </header>
  <div class="skv-reveal__content-wrapper skv-reveal__content-wrapper--open" id="111" tabindex="-1" data-js-reveal-container>
    <div class="skv-reveal__content">
      
      <div>
        <p>Du måste ha en lärar- eller förskollärarexamen för att få en legitimation. Om du inte har en examen kan du vidareutbilda dig. Vilken utbildning som passar bäst beror på dina tidigare erfarenheter och studier. Det finns olika vägar till examen.</p>
        <h3>Vidareutbildning av lärare (VAL)</h3>
        <p>VAL är en förkortad lärarutbildning som vänder sig till dig som jobbar som lärare eller förskollärare men inte har en lärar- eller förskollärarexamen. Utbildningen bygger vidare på din arbetslivserfarenhet och dina tidigare högskolestudier. Alla som studerar inom VAL har en individuell studieplan.</p>
        <p><a title="länk till annan webbplats" href="http://www.lh.umu.se/utbildning/fortbildning-for-larare/valprojektet/">Läs mer om VAL på Lärarhögskolan i Umeås webbplats</a></p>
        <h3>Utländska lärares vidareutbildning (ULV)</h3>
        <p>ULV vänder sig till dig som har en utländsk lärarexamen. Utbildningen är individuellt anpassad och varierar därför i längd och omfattning.</p>
        <p><a title="länk till annan webbplats" href="http://www.su.se/lararutbildningar/l%C3%A4rare/utl%C3%A4ndska-l%C3%A4rares-vidareutbildning-ulv">Läs mer om ULV på Stockholms universitets webbplats</a></p>
        <h3>Lärarutbildning</h3>
        <p>Det finns många olika lärarutbildningar som skiljer sig till studieform, omfattning och innehåll.</p>
        <p><a title="länk till annan webbplats" href="http://www.studera.nu/">Läs mer om olika utbildningar på studera.nu</a></p>
        <h3>Lärarlyftet</h3>
        <p>Du som är lärare och undervisar utan att ha behörighet i ett eller flera ämnen kan utöka din legitimation med fler behörigheter genom att gå Lärarlyftet. Skolverket erbjuder också kurser till fritidspedagoger i praktisk-estetiska ämnen. Genom Lärarlyftet kan du också få hjälp att validera tidigare kunskaper och färdigheter.</p>
        <p><a href="/skolutveckling/kompetensutveckling/lararlyftets-kurser-och-utbildningar">Säkra behörigheten med Lärarlyftets kurser och utbildningar</a></p>
      </div>
    
    </div>
  </div>
</div>

          <div class="skv-reveal" data-js-reveal>
  <header class="skv-reveal__header" data-js-reveal-header>
    <h3 class="skv-reveal__title">Lorem ipsum dolor sit amet</h3>
    <button class="skv-reveal__toggle" aria-label="Lorem ipsum dolor sit amet" aria-controls="112" aria-expanded="false" data-js-reveal-trigger>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--close">Dölj</span>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--open">Visa</span>
      <span class="skv-reveal__toggle-icon">
        
        <svg class="skv-icon">
          <use xlink:href="#icon-expand-more"></use>
        </svg>
      </span>
    </button>
  </header>
  <div class="skv-reveal__content-wrapper" id="112" tabindex="-1" data-js-reveal-container>
    <div class="skv-reveal__content">
      
      <div>
        <p>Du måste ha en lärar- eller förskollärarexamen för att få en legitimation. Om du inte har en examen kan du vidareutbilda dig. Vilken utbildning som passar bäst beror på dina tidigare erfarenheter och studier. Det finns olika vägar till examen.</p>
        <h3>Vidareutbildning av lärare (VAL)</h3>
        <p>VAL är en förkortad lärarutbildning som vänder sig till dig som jobbar som lärare eller förskollärare men inte har en lärar- eller förskollärarexamen. Utbildningen bygger vidare på din arbetslivserfarenhet och dina tidigare högskolestudier. Alla som studerar inom VAL har en individuell studieplan.</p>
        <p><a title="länk till annan webbplats" href="http://www.lh.umu.se/utbildning/fortbildning-for-larare/valprojektet/">Läs mer om VAL på Lärarhögskolan i Umeås webbplats</a></p>
        <h3>Utländska lärares vidareutbildning (ULV)</h3>
        <p>ULV vänder sig till dig som har en utländsk lärarexamen. Utbildningen är individuellt anpassad och varierar därför i längd och omfattning.</p>
        <p><a title="länk till annan webbplats" href="http://www.su.se/lararutbildningar/l%C3%A4rare/utl%C3%A4ndska-l%C3%A4rares-vidareutbildning-ulv">Läs mer om ULV på Stockholms universitets webbplats</a></p>
        <h3>Lärarutbildning</h3>
        <p>Det finns många olika lärarutbildningar som skiljer sig till studieform, omfattning och innehåll.</p>
        <p><a title="länk till annan webbplats" href="http://www.studera.nu/">Läs mer om olika utbildningar på studera.nu</a></p>
        <h3>Lärarlyftet</h3>
        <p>Du som är lärare och undervisar utan att ha behörighet i ett eller flera ämnen kan utöka din legitimation med fler behörigheter genom att gå Lärarlyftet. Skolverket erbjuder också kurser till fritidspedagoger i praktisk-estetiska ämnen. Genom Lärarlyftet kan du också få hjälp att validera tidigare kunskaper och färdigheter.</p>
        <p><a href="/skolutveckling/kompetensutveckling/lararlyftets-kurser-och-utbildningar">Säkra behörigheten med Lärarlyftets kurser och utbildningar</a></p>
      </div>
    
    </div>
  </div>
</div>

          <div class="skv-reveal" data-js-reveal>
  <header class="skv-reveal__header" data-js-reveal-header>
    <h3 class="skv-reveal__title">Lorem ipsum dolor sit amet</h3>
    <button class="skv-reveal__toggle" aria-label="Lorem ipsum dolor sit amet" aria-controls="113" aria-expanded="false" data-js-reveal-trigger>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--close">Dölj</span>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--open">Visa</span>
      <span class="skv-reveal__toggle-icon">
        
        <svg class="skv-icon">
          <use xlink:href="#icon-expand-more"></use>
        </svg>
      </span>
    </button>
  </header>
  <div class="skv-reveal__content-wrapper" id="113" tabindex="-1" data-js-reveal-container>
    <div class="skv-reveal__content">
      
      <div>
        <p>Du måste ha en lärar- eller förskollärarexamen för att få en legitimation. Om du inte har en examen kan du vidareutbilda dig. Vilken utbildning som passar bäst beror på dina tidigare erfarenheter och studier. Det finns olika vägar till examen.</p>
        <h3>Vidareutbildning av lärare (VAL)</h3>
        <p>VAL är en förkortad lärarutbildning som vänder sig till dig som jobbar som lärare eller förskollärare men inte har en lärar- eller förskollärarexamen. Utbildningen bygger vidare på din arbetslivserfarenhet och dina tidigare högskolestudier. Alla som studerar inom VAL har en individuell studieplan.</p>
        <p><a title="länk till annan webbplats" href="http://www.lh.umu.se/utbildning/fortbildning-for-larare/valprojektet/">Läs mer om VAL på Lärarhögskolan i Umeås webbplats</a></p>
        <h3>Utländska lärares vidareutbildning (ULV)</h3>
        <p>ULV vänder sig till dig som har en utländsk lärarexamen. Utbildningen är individuellt anpassad och varierar därför i längd och omfattning.</p>
        <p><a title="länk till annan webbplats" href="http://www.su.se/lararutbildningar/l%C3%A4rare/utl%C3%A4ndska-l%C3%A4rares-vidareutbildning-ulv">Läs mer om ULV på Stockholms universitets webbplats</a></p>
        <h3>Lärarutbildning</h3>
        <p>Det finns många olika lärarutbildningar som skiljer sig till studieform, omfattning och innehåll.</p>
        <p><a title="länk till annan webbplats" href="http://www.studera.nu/">Läs mer om olika utbildningar på studera.nu</a></p>
        <h3>Lärarlyftet</h3>
        <p>Du som är lärare och undervisar utan att ha behörighet i ett eller flera ämnen kan utöka din legitimation med fler behörigheter genom att gå Lärarlyftet. Skolverket erbjuder också kurser till fritidspedagoger i praktisk-estetiska ämnen. Genom Lärarlyftet kan du också få hjälp att validera tidigare kunskaper och färdigheter.</p>
        <p><a href="/skolutveckling/kompetensutveckling/lararlyftets-kurser-och-utbildningar">Säkra behörigheten med Lärarlyftets kurser och utbildningar</a></p>
      </div>
    
    </div>
  </div>
</div>

          <div class="skv-reveal" data-js-reveal>
  <header class="skv-reveal__header" data-js-reveal-header>
    <h3 class="skv-reveal__title">Lorem ipsum dolor sit amet</h3>
    <button class="skv-reveal__toggle" aria-label="Lorem ipsum dolor sit amet" aria-controls="114" aria-expanded="false" data-js-reveal-trigger>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--close">Dölj</span>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--open">Visa</span>
      <span class="skv-reveal__toggle-icon">
        
        <svg class="skv-icon">
          <use xlink:href="#icon-expand-more"></use>
        </svg>
      </span>
    </button>
  </header>
  <div class="skv-reveal__content-wrapper" id="114" tabindex="-1" data-js-reveal-container>
    <div class="skv-reveal__content">
      
      <div>
        <p>Du måste ha en lärar- eller förskollärarexamen för att få en legitimation. Om du inte har en examen kan du vidareutbilda dig. Vilken utbildning som passar bäst beror på dina tidigare erfarenheter och studier. Det finns olika vägar till examen.</p>
        <h3>Vidareutbildning av lärare (VAL)</h3>
        <p>VAL är en förkortad lärarutbildning som vänder sig till dig som jobbar som lärare eller förskollärare men inte har en lärar- eller förskollärarexamen. Utbildningen bygger vidare på din arbetslivserfarenhet och dina tidigare högskolestudier. Alla som studerar inom VAL har en individuell studieplan.</p>
        <p><a title="länk till annan webbplats" href="http://www.lh.umu.se/utbildning/fortbildning-for-larare/valprojektet/">Läs mer om VAL på Lärarhögskolan i Umeås webbplats</a></p>
        <h3>Utländska lärares vidareutbildning (ULV)</h3>
        <p>ULV vänder sig till dig som har en utländsk lärarexamen. Utbildningen är individuellt anpassad och varierar därför i längd och omfattning.</p>
        <p><a title="länk till annan webbplats" href="http://www.su.se/lararutbildningar/l%C3%A4rare/utl%C3%A4ndska-l%C3%A4rares-vidareutbildning-ulv">Läs mer om ULV på Stockholms universitets webbplats</a></p>
        <h3>Lärarutbildning</h3>
        <p>Det finns många olika lärarutbildningar som skiljer sig till studieform, omfattning och innehåll.</p>
        <p><a title="länk till annan webbplats" href="http://www.studera.nu/">Läs mer om olika utbildningar på studera.nu</a></p>
        <h3>Lärarlyftet</h3>
        <p>Du som är lärare och undervisar utan att ha behörighet i ett eller flera ämnen kan utöka din legitimation med fler behörigheter genom att gå Lärarlyftet. Skolverket erbjuder också kurser till fritidspedagoger i praktisk-estetiska ämnen. Genom Lärarlyftet kan du också få hjälp att validera tidigare kunskaper och färdigheter.</p>
        <p><a href="/skolutveckling/kompetensutveckling/lararlyftets-kurser-och-utbildningar">Säkra behörigheten med Lärarlyftets kurser och utbildningar</a></p>
      </div>
    
    </div>
  </div>
</div>

          <div class="skv-reveal" data-js-reveal>
  <header class="skv-reveal__header" data-js-reveal-header>
    <h3 class="skv-reveal__title">Lorem ipsum dolor sit amet</h3>
    <button class="skv-reveal__toggle" aria-label="Lorem ipsum dolor sit amet" aria-controls="115" aria-expanded="false" data-js-reveal-trigger>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--close">Dölj</span>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--open">Visa</span>
      <span class="skv-reveal__toggle-icon">
        
        <svg class="skv-icon">
          <use xlink:href="#icon-expand-more"></use>
        </svg>
      </span>
    </button>
  </header>
  <div class="skv-reveal__content-wrapper" id="115" tabindex="-1" data-js-reveal-container>
    <div class="skv-reveal__content">
      
      <div>
        <p>Du måste ha en lärar- eller förskollärarexamen för att få en legitimation. Om du inte har en examen kan du vidareutbilda dig. Vilken utbildning som passar bäst beror på dina tidigare erfarenheter och studier. Det finns olika vägar till examen.</p>
        <h3>Vidareutbildning av lärare (VAL)</h3>
        <p>VAL är en förkortad lärarutbildning som vänder sig till dig som jobbar som lärare eller förskollärare men inte har en lärar- eller förskollärarexamen. Utbildningen bygger vidare på din arbetslivserfarenhet och dina tidigare högskolestudier. Alla som studerar inom VAL har en individuell studieplan.</p>
        <p><a title="länk till annan webbplats" href="http://www.lh.umu.se/utbildning/fortbildning-for-larare/valprojektet/">Läs mer om VAL på Lärarhögskolan i Umeås webbplats</a></p>
        <h3>Utländska lärares vidareutbildning (ULV)</h3>
        <p>ULV vänder sig till dig som har en utländsk lärarexamen. Utbildningen är individuellt anpassad och varierar därför i längd och omfattning.</p>
        <p><a title="länk till annan webbplats" href="http://www.su.se/lararutbildningar/l%C3%A4rare/utl%C3%A4ndska-l%C3%A4rares-vidareutbildning-ulv">Läs mer om ULV på Stockholms universitets webbplats</a></p>
        <h3>Lärarutbildning</h3>
        <p>Det finns många olika lärarutbildningar som skiljer sig till studieform, omfattning och innehåll.</p>
        <p><a title="länk till annan webbplats" href="http://www.studera.nu/">Läs mer om olika utbildningar på studera.nu</a></p>
        <h3>Lärarlyftet</h3>
        <p>Du som är lärare och undervisar utan att ha behörighet i ett eller flera ämnen kan utöka din legitimation med fler behörigheter genom att gå Lärarlyftet. Skolverket erbjuder också kurser till fritidspedagoger i praktisk-estetiska ämnen. Genom Lärarlyftet kan du också få hjälp att validera tidigare kunskaper och färdigheter.</p>
        <p><a href="/skolutveckling/kompetensutveckling/lararlyftets-kurser-och-utbildningar">Säkra behörigheten med Lärarlyftets kurser och utbildningar</a></p>
      </div>
    
    </div>
  </div>
</div>

      </div>
    </div>
  </div>
</div>

