

<div class="skv-hero skv-hero--overlap">
  <img src="/tmp/img/bildstartsida.png" width="100%" alt="Error with image loading..." />
  <div class="skv-hero__banner">
    <div class="skv-hero__banner-body">
      <div class="col-sm-9 col-md-8 col-lg-7">
        <a href="" class="skv-hero__banner-body-text">
          <span class="skv-hero__banner-body-text-stripe">En lång rubrik som sträcker sig över flera rader
            <i class="icon-arrow icon-arrow--white icon-arrow--xlg"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container container--no-padding">
  <div class="skv-box skv-box--no-padding">
    <div class="skv-section skv-section--boxed">
      <header class="skv-section__header">
        <h2 class="h3 skv-section__header-title"><span class="skv-section__header-title-text">Sektionstitel<span></h2>
        <div class="skv-section__header-preamble text-secondary">
          <p>Kontextuell fördjupningstext <a href="/press" class="text-link">med länk</a></p>
        </div>
      </header>
      <div class="skv-section__body">
        <img src="http://placehold.it/800x250/ffffff/E8D3E0?text=(Sektionens innehåll)" style="max-width: 100%" />
      </div>
    </div>
  </div>
</div>

