

<div class="skv-toc">
	<h3 class="skv-toc__title">Rubrik</h3>
	<ul class="skv-toc__list">
		<li tabindex="1" class="skv-toc__list-item">
			<a class="skv-toc__list-item-link text-small" href="#">Innehållsrubrik nivå 1</a>
		</li>
		<li>
			<ul class="skv-toc__list skv-toc__list--sub">
				<li class="skv-toc__list-item">
					<a class="skv-toc__list-item-link text-small" href="#">Innehållsrubrik nivå 2</a>
				</li>
				<li class="skv-toc__list-item">
					<a class="skv-toc__list-item-link text-small" href="#">Innehållsrubrik nivå 2</a>
				</li>
			</ul>
		</li>
		<li tabindex="1" class="skv-toc__list-item">
			<a class="skv-toc__list-item-link text-small" href="#">Innehållsrubrik nivå 1</a>
		</li>
		<li tabindex="1" class="skv-toc__list-item">
			<a class="skv-toc__list-item-link text-small" href="#">Innehållsrubrik nivå 1</a>
		</li>
	</ul>
</div>

