$color-blue: #0079C2;
$color-blue-dark: #005182;
$color-grass: #386406;
$color-purple-dark: #692969;
$color-purple-light: #F8F4F8;
$color-purple: #E1D4E1;
$color-black: #000000;
$color-white: #FFFFFF;
$color-gray: #666666;
$color-gray-lighter: #CFCFCF;
$color-gray-light: #F3F3F3;
$color-gray-dark: #292929;
$color-error: #CD2126;
$color-yellow: #FCB933;
$color-turq: #178079;
$color-link: $color-blue;
$color-link-hover: $color-blue-dark;
