$font-size-base: 1rem !default;     // 16px - assumes the browser default
$font-size-h1: rem(45px) !default;
$font-size-h2: rem(36px) !default;
$font-size-h3: rem(25px) !default;
$font-size-h4: rem(20px) !default;
$font-size-h5: 1.125rem !default;   // 18px
$font-size-h6: 1rem !default;       // 16px

// Text
$font-size-big: rem(25px) !default;
$font-size-std: rem(20px) !default;
$font-size-sm: rem(18px) !default;
