$line-height-h1: rem(54px) !default;
$line-height-h2: rem(46px) !default;
$line-height-h3: rem(32px) !default;
$line-height-h4: rem(28px) !default;
$line-height-h5: $baseline !default;
$line-height-h6: $baseline !default;

// Text
$line-height-big: rem(31px) !default;
$line-height-std: rem(28px) !default;
$line-height-sm: rem(24px) !default;
