<div class="container container--margins">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="skv-box skv-box--compact skv-box--no-border">
        <h2 class="h2 margin-tp-reset">En tydlig områdersrubrik</h2>
        <p class="text-standard">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt
          ut labore et dolore magna aliqua.</p>
        <ul class="skv-content-navigation-list">
          <li class="skv-content-navigation-list__item">
            <a href="#1" class="skv-content-navigation-list__item-link text-large">
              Navigationsval 1
              <i class="icon-arrow icon-arrow--lg"></i>
            </a>
          </li>
          <li class="skv-content-navigation-list__item">
            <a href="#2" class="skv-content-navigation-list__item-link text-large">
              Navigationsval 2
              <i class="icon-arrow icon-arrow--lg"></i>
            </a>
          </li>
          <li class="skv-content-navigation-list__item">
            <a href="#3" class="skv-content-navigation-list__item-link text-large">
              Navigationsval 3
              <i class="icon-arrow icon-arrow--lg"></i>
            </a>
          </li>
          <li class="skv-content-navigation-list__item skv-content-navigation-list__item--no-border">
            <a href="#4" class="skv-content-navigation-list__item-link text-large">
              Navigationsval med extra mycket text
              <i class="icon-arrow icon-arrow--lg"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <img src="/tmp/img/overview.png" alt="Elever i skolan" />
    </div>
  </div>
</div>
<div class="container container--no-padding">
  <div class="skv-box skv-box--no-padding skv-box--mb-large">
    <div class="skv-section skv-section--boxed">
      <header class="skv-section__header">
        <h2 class="h3 skv-section__header-title"><span class="skv-section__header-title-text">Sektionstitel</span></h2>
      </header>
      <div class="skv-section__body">
        {{#each reveals }}
          {{ render '@reveal' . merge=true }}
        {{/each}}
      </div>
    </div>
  </div>
</div>
