@mixin box-padding() {
  padding: ($baseline / 2) $page-padding-small;

  @include media-min('sm') {
    padding: $baseline $page-padding-medium;
  }

  @include media-min('md') {
    padding: ($baseline * 2) $page-padding;
  }
}
