///
/// Space
///
///============================================================================
///
/// @description
///   Reusable spacing accross the application
///
///============================================================================
.spacer-mb-small {
  margin-bottom: $spacer-small;
}
.spacer-mb-medium {
  margin-bottom: $spacer-medium;
}
.spacer-mb-large {
  margin-bottom: $spacer-large;
}
.spacer-mb-xlarge {
  margin-bottom: $spacer-xlarge;
}
.spacer-mb-xxlarge {
  margin-bottom: $spacer-xxlarge;
}
.spacer-mt-large {
  margin-top: $spacer-large;
}
.spacer-mt-xlarge {
  margin-top: $spacer-xlarge;
}
