$block: 'substartpage';

.#{$block} {
  background-color: $color-purple-light;

  &__header {
    position: relative;

    &-img {
      min-height: 120px;
      object-fit: cover;
    }

    &-section {
      position: absolute;
      bottom: 0;
      width: 100%;

      &--label {
        display: inline-block;
        padding: 1rem 1.25rem 1rem .875rem;
        color: $color-white;
        background-color: $color-purple-dark;
        font-size: 1.5rem;
        line-height: 1;
        font-weight: 500;
        border-top-right-radius: 1.125rem;
      }
    }
  }

  &__box {
    background-color: $color-purple-light;
    padding-top: .875rem;
    padding-bottom: .875rem;

    & .display-flex {
      display: flex;
    }

    &-item {
      min-height: 7rem;
      width: 100%;
      margin: .875rem 0;
      padding: 1rem;
      background-color: $color-white;
      box-shadow: 0 6px 14px 0 rgba(108, 39, 106, 0.25);
      border: 2px solid transparent;
      
      &:hover, &:focus {
        border: 2px solid $color-purple-dark;
      }

      &.no-border {
        border: 0;
        &:hover, &:focus {
          border: 0;
        }
      }

      &--link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        width: 100%;
        color: $color-purple-dark;
        font-size: 1.5rem;
        line-height: 1.26;
        font-weight: 600;

        &:hover, &:focus {
          color: $color-purple-dark;
        }
      }
    }
  }

  &__content {
    border-top: 3px solid $color-purple-dark;
    min-height: 400px;
    background-color: $color-white;
    box-shadow: 0 12px 24px 0 rgba(108, 39, 106, 0.25);
  }
}

@media (min-width: 1281px) {
  .substartpage__content {
    max-width: 1244px;
  }
}

@media (max-width: 768.9999px) {
  .substartpage__header-section--label {
    padding: 0.5625rem 1.125rem 0.5625rem .75rem;
  }
  .substartpage__box-item--link {
    font-size: 1.1875rem;
  }
  .substartpage__box-item {
    min-height: 5.25rem;
  }
}

@media (min-width: 376px) { 
  .substartpage__box-item--link {
    &>.icon-arrow {
      visibility: hidden;
    }
  }
}

@media (max-width: 375.9999px) {
  .substartpage__header-section--label {
    font-size: 1.375rem;
  }
  .substartpage__box-item {
    padding: 0.6875rem 0 0.6875rem 0.75rem;
    margin: 0;
    border: 0;
    border-bottom: 1px solid $color-purple;
    min-height: auto;
    background-color: $color-purple-light;
    box-shadow: none;

    &:hover, &:focus {
      border: 0;
      border-bottom: 1px solid $color-purple;
    }

    &--link {
      display: inline-flex;
      width: auto;

      &:hover {
        color: $color-purple-dark;
      }

      &:focus,
      &:active,
      &:active:focus {
        color: $color-purple-dark;
      }
    }
  }
}
