///
/// Trumps
///
// Position (utility)
// Used by the position component which is a set of utility methods for 
// working with the DOM. It is meant to be used where we need to
// absolute-position elements in relation to another element (this is the 
// case for tooltips, popoversm typeahead suggestions etc.).

// Alignment
.display-block {
  display: block !important;
}

.display-inline-block {
  display: inline-block !important;
}

.display-inline {
  display: inline !important;
}

.display-flex {
  display: flex !important;
}

.display-grid {
  display: grid !important;
}

.space-between {
  justify-content: space-between !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-flex-start {
  align-items: flex-start !important;
}

.align-items-flex-end {
  align-items: flex-end !important;
}

.self-align-flex-end {
  align-self: flex-end !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.full-height {
  height: 100% !important;
}