<div class="container container--margins">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="box box--compact box--no-border">
        <h1>Sök</h1>
        {{ render '@search' searchModel }}

        <h2>Visst webbinnehåll har eget sök</h2>
        <ul>
          <li><a href="#">Sök bland Skolverkets publikationer</a></li>
          <li><a href="#">Sök i Skolverkets författningssamling (SKOLFS)</a></li>
          <li><a href="#">Sök statistik om skolan och annan pedagogisk verksamhet</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
