$block: 'content-navigation';

.#{$block} {
  display: flex;
  border-top: 3px solid $color-purple-dark;
  padding-top: 3.625rem;
  padding-bottom: 1.875rem;
  background-color: $color-white;
  
  & .content-navigation-header-container {
    min-width: 14.375rem;
    margin-right: 2.5rem;
  }

  &__header {
    width: 100%;

    &-title {
      margin-top: 0.875rem;
      font-weight: 500;
      display: flex;
      flex-direction: row;
      align-items: center;

      &--text {
        margin-right: 0;
      }
      
      &--line {
        margin: 0.875rem 0;
        flex-grow: 1;
        min-width: 3.125rem;
        border: 0;
        height: 3px;
        background-color: $color-purple;
      }
    }

    &-subtitle {
      color: $color-gray;
      font-weight: 500;
      margin-bottom: 0.875rem;
    }
  }

  &__list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      display: flex;
      align-items: center;
      min-height: 4.5rem;
      padding: 0.5rem 0.9375rem;
      border-bottom: 1px solid $color-purple;

      &:last-child {
        border-bottom: none;
      }

      &--link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $color-purple-dark;
        font-weight: 600;

        &:hover {
          color: $color-purple-dark;
        }

        &:focus,
        &:active,
        &:active:focus {
          color: $color-purple-dark;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .content-navigation__header-title {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 991.9999px) {
  .content-navigation {
    padding-top: 1rem; 
  }
  .content-navigation__header-title--text {
    margin-right: 1.75rem;
  }
  .content-navigation__header-title--line {
    height: 2px;
  }
  .content-navigation__list-item {
    padding: 0.75rem;
    &.show-border-bottom {
      border-bottom: 1px solid $color-purple;
    }
  }
}
