<div class="hero{{#if shouldOverlap}} hero--overlap{{/if}}">
  <img src="{{ background }}" width="100%" alt="Error with image loading..." />
  <div class="hero__banner">
    {{#if title}}
    <div class="hero__banner-body">
      <div class="col-sm-9 col-md-8 col-lg-7">
        <a href="{{ url }}" class="hero__banner-body-text">
          <span class="hero__banner-body-text-stripe">{{ title }}
            <i class="icon-arrow icon-arrow--white icon-arrow--xlg"></i>
          </span>
        </a>
      </div>
    </div>
    {{/if}}
  </div>
</div>
