$block: "hero";

.#{$block} {
  position: relative;
  z-index: 0;

  &__banner {
    position: relative;
    // margin: 0 ($page-padding-small * 2);
    margin: 20px;

    @include media-min("md") {
      // margin: 0 ($page-padding-medium * 2);
    }
    @include media-min("lg") {
      // margin: 0 $page-padding;
    }
    @include media-min("xl") {
      margin: 0 auto;
      // max-width: $page-max-width - ($page-padding * 2);
    }

    &-body {
      position: absolute;
      bottom: 30px;
      left: 0;

      @include media-min("md") {
        bottom: 60px;
      }
      @include media-min("lg") {
        bottom: 140px;
      }

      &-text {
        font-size: 1.25rem;
        line-height: 2.1;
        font-weight: $font-weight-bold;
        margin-left: 0.5rem;
        color: $color-white;

        @include media-min("md") {
          // font-size: $font-size-h1;
          font-size: 40px;
          line-height: 1.7;
          margin-left: 0.875rem;
        }

        &:hover {
          color: $color-white;
        }

        &:focus,
        &:active {
          color: $color-white;
        }

        &-stripe {
          background-color: $color-turq;
          padding: 0.375rem 0;
          box-decoration-break: clone; // Firefox fix ???
          box-shadow: 8px 0 0 $color-turq, -8px 0 0 $color-turq;

          @include media-min("md") {
            box-shadow: 14px 0 0 $color-turq, -14px 0 0 $color-turq;
          }
        }
      }
    }
  }

  &--overlap {
    @include media-min("lg") {
      margin-bottom: -140px;
    }
    .#{$block}__banner-body {
      @include media-min("md") {
        bottom: 60px;
      }
      @include media-min("lg") {
        bottom: 200px;
      }
    }
  }
}
