$block: 'navigation';

.#{$block} {
  position: relative;

  &__header {
    min-height: 4.5rem;
    padding: 1.25rem 0;
    background-color: $color-white;
    border-top: 3px solid $color-purple-dark;

    &-container {
      display: flex;
      min-height: 2rem;
      justify-content: space-between;
      align-items: center;
    }

    &-logo {
      width: 160px;
      min-height: 36px;
      background-image: url('../images/skolverket-logotype.svg');
      background-position: left 0px center;
      background-repeat: no-repeat;
    }
  }

  &__links {
    min-height: 3.5rem;
    padding: 0;
    background-color: $color-purple-dark;

    &-container {
      display: flex;
      position: relative;
      min-height: 3.5rem;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

    &--absolute {
      position: absolute;
      top: 0;
      bottom: 0;
    }

    &-item {
      &--speaker,
      &--language,
      &--search,
      &--mobilemenu {
        padding: 0.375rem 0.75rem 0.375rem calc(20px + 1rem);
        background-size: 1rem 1rem;
        background-position: left 12px center;
        background-repeat: no-repeat;
        border-radius: 3px;
        cursor: pointer;
        color: $color-black;

        &:hover,
        &:focus,
        &:active,
        &:active:focus {
          background-color: $color-purple-light;
          color: $color-black;
          text-decoration: none;
        }
      }

      &--speaker {
        background-image: url('../images/speaker.svg');
        margin-right: 0.4375rem;
      }

      &--language {
        background-image: url('../images/language.svg');
        margin-right: 0.4375rem;
      }

      &--search {
        background-image: url('../images/search.svg');
        margin-right: 0.4375rem;
      }

      &--mobilemenu {
        background-image: url('../images/mobilemenu.svg');
      }

      &--link {
        position: relative;
        display: flex;
        height: 100%;
        align-items: center; // center text
        margin-right: 1.75rem;
        text-decoration: none;
        color: $color-white;
        font-weight: 500;
        &:hover {
          color: $color-white;
        }

        &:focus,
        &:active,
        &:active:focus {
          color: $color-white;
          text-decoration: none;

          &::before {
            border-bottom: 8px solid $color-yellow;
            position: absolute;
            left: 0;
            bottom: -4px;
            height: 8px;
            width: 100%;
            content: "";
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .navigation__list-item {
    &--mobilemenu {
      display: none;
    }
    &--search {
      margin-right: 0;
    }
  }
}

@media (max-width: 767.9999px) {
  .navigation__list-item--speaker,
  .navigation__list-item--language,
  .navigation__links .navigation__list-item {
    display: none;
  }
  .navigation__links {
    display: none;
  }
  .navigation__header {
    padding: 0.9375rem 0;
  }
  .navigation__list {
    height: auto;
  } 
  .navigation__header-logo {
    width: 134px;
    background-size: 100%;
  }
}

@media (max-width: 340px) {
  .navigation__header-container {
    flex-direction: column;
  }
  .navigation__header-logo {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
