<div class="box box--no-padding">
  <div class="section section--boxed">
    <header class="section__header">
      <h2 class="h3 section__header-title">{{ title }}</h2>
      <div class="section__header-preamble text-secondary">
        <p>{{ description }}</p>
      </div>
    </header>
    <div class="section__body">
      <div class="row">
        <div class="col-12 col-md-6">
          <ul class="content-navigation-list">
            {{#each links}}
            <li class="content-navigation-list__item">
              <a href="{{ this.url }}" class="content-navigation-list__item-link text-standard">
                {{ this.label }}
                <i class="icon-arrow"></i>
              </a>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>