$border-radius: 4px;
$transition-duration: 300ms;
$header--open__background: $color-purple-dark;
$header--open__color: $color-white;
$header--closed__background: $color-blue-light;
$header--closed__color: $color-purple-dark;
$content--open__background: $color-gray-light;

@mixin reveal__header--activestyling {
  background: $header--open__background;
  color: $header--open__color;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid $header--open__background;
  transition: background-color 0s;

  &:hover {
    background: darken($header--open__background, 4);
  }
}

.reveal {
  margin: 16px 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 90px 8px 16px;
    background: $header--closed__background;
    color: $header--closed__color;
    border: 1px solid $color-gray-lighter;
    border-radius: $border-radius;
    transition-duration: $transition-duration;
    font-weight: $font-weight-bold;
    position: relative;

    &:hover {
      background: darken($header--closed__background, 4);
    }

    @include media-print {
      @include reveal__header--activestyling();
    }

    &--open {
      @include reveal__header--activestyling();
    }

    h3 {
      margin: 0;
      font-weight: inherit;
      padding-right: 15px;
      line-height: 1.35em;
    }
  }

  &__toggle {
    border: none;
    background: transparent;
    color: inherit;
    font-weight: inherit;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    text-align: right;
    cursor: pointer;

    @include media-print {
      display: none;
    }

    &-icon {
      vertical-align: middle;
      transform: rotate(90deg);
      transition: transform .3s ease;

      [aria-expanded="true"] & {
        transform: rotate(-90deg);
        background-image: url('../assets/img/arrow-white.svg');
      }
    }

    &-text {

      &--open {
        [aria-expanded="true"] & {
          display: none;
        }
      }

      &--close {
        [aria-expanded="false"] & {
          display: none;
        }
      }
    }

    &-input {
      visibility: hidden;
      width: 0;
      height: 0;
      overflow: hidden;
      display: block;
    }
  }

  &__content {
    overflow: hidden;
    padding: 16px;
    background-color: $color-blue-light;
    border: 1px solid $color-gray-lighter;
    border-radius: 0 0 $border-radius $border-radius;
    border-top: none;
  }

  &--open &__content {
    opacity: 1;
  }

  &__content-wrapper {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition-property: max-height;
    transition-duration: $transition-duration;

    @include media-print {
      max-height: none !important;
    }
  }

  &--open &__content-wrapper {
    overflow: scroll;
    background: $content--open__background;
    transition-delay: .1s;
  }
}
