<div class="reveal">
  <header class="reveal__header">
    <h3>{{ title }}</h3>
    <button class="reveal__toggle" />
  </header>
  <div class="reveal__content-wrapper">
    <div class="reveal__content">
      <table>
        <thead>
        <tr>
          <th>Lorem</th>
          <th>Ipsum</th>
          <th>Dolor</th>
          <th>Sit</th>
          <th>Amet</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>Lorem ipsum dolor sit amet.</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
