$reveal-border-radius: 4px;
$reveal-transition-duration: 300ms;

@mixin reveal-header-active {
  background: $color-purple-dark;
  color: $color-white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid $color-purple-dark;
  transition: background-color 0s;

  &:hover {
    background: darken($color-purple-dark, 4);
  }
}

.reveal {
  margin: 16px 0;

  @include media-print {
    page-break-inside: avoid;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 90px 8px 16px;
    background: $color-blue-light;
    color: $color-purple-dark;
    border: 1px solid $color-gray-lighter;
    border-radius: $reveal-border-radius;
    transition-duration: $reveal-transition-duration;
    font-weight: $font-weight-bold;
    position: relative;

    &:hover {
      background: darken($color-blue-light, 4);
    }

    &--open {
      @include reveal-header-active();
    }

    @include media-print {
      background: $color-white;
      color: $color-purple-dark;
      border: 1px solid $color-gray-lighter;
    }
  }

  &__title {
    margin: 0;
    font-weight: inherit;
    padding-right: 15px;
    line-height: 1.35em;
  }

  &__toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border: none;
    white-space: nowrap;
    text-align: right;
    background: transparent;
    color: inherit;
    font-weight: inherit;
    cursor: pointer;
    overflow: hidden; // Due to focus outline jank during animation in Chrome.

    @include media-print {
      display: none;
    }

    &-icon {
      display: inline-block;
      font-size: 28px;
      transition: transform $reveal-transition-duration;
      vertical-align: middle;
      line-height: 1em;
      height: 1em;

      [aria-expanded="true"] & {
        transform: rotate(180deg);
      }
    }

    &-text {
      &--open {
        [aria-expanded="true"] & {
          display: none;
        }
      }

      &--close {
        [aria-expanded="false"] & {
          display: none;
        }
      }
    }
  }

  &__content {
    padding: 16px;
    background-color: $color-blue-light;
    border: 1px solid $color-gray-lighter;
    border-top: none;
    border-radius: 0 0 $reveal-border-radius $reveal-border-radius;

    @include media-print {
      background-color: $color-white;
    }

    &-wrapper {
      display: none;
      max-height: 0;
      overflow: hidden;
      transition: max-height $reveal-transition-duration;

      @include media-print {
        max-height: none !important;
        display: block;
      }

      .reveal--open & {
        transition-delay: .1s;
      }

      &--open {
        display: block;
        max-height: none;
      }
    }
  }
}
