.box {
  border-top: 3px solid $color-purple-dark;
  background-color: $color-white;
  box-shadow: 0 12px 24px 0 rgba(108, 39, 106, 0.25);

  @include box-padding;

  &--compact {
    padding: rem(18px) rem(24px) rem(24px) rem(26px);
    box-shadow: 0 6px 14px 0 rgba(108, 39, 106, 0.25);

    @include media-min('md') {
      padding: 28px 54px 40px 54px;
    }
  }

  &--margins {
    margin: 0 12px 34px 0;
  }
  &--no-padding {
    padding: 0;
  }
  &--no-border {
    border: 0;
  }
}
