/// Colors
$color-black: #000 !default;
$color-white: #fff !default;

$color-grey-light: rgb(224, 224, 224) !default;
$color-grey: rgb(184, 184, 184) !default;
$color-grey-dark: rgb(98, 98, 98) !default;

$color-error: #ff0000 !default;

$color-beige: #ececda !default;

$color-turq: #d2e6db !default;

$color-link: rgb(19, 123, 211) !default;

$color-navigation-link: #000 !default;


