$block: 'startpage';

.#{$block} {
  background-color: $color-purple-light;

  &__header {
    position: relative;

    &-bg {
      min-height: 164px;
    }

    &-title {
      position: absolute;
      width: 100%;
      bottom: 0;

      &--link {
        line-height: 1.7;
        font-size: 2.375rem;
        color: $color-white;
        margin-left: .875rem;
        margin-bottom: .875rem;

        &:hover {
          color: $color-white;
        }

        &:focus, &:active {
          color: $color-white;
        }

        span {
          background-color: #178079;
          padding: 0.375rem 0;
          box-shadow: 14px 0 0 #178079, -14px 0 0 #178079;
          box-decoration-break: clone; // Firefox fix ???
        }
      }
    }
  }

  &__content {
    border-top: 3px solid $color-skolverket-purple;
    min-height: 400px;
    background-color: $color-white;
    box-shadow: 0 12px 24px 0 rgba(108, 39, 106, 0.25);
    margin-top: -130px;
  }
}

@media (min-width: 1280.9999px) {
  .startpage__header-title {
    bottom: 140px;
  }
}

@media (max-width: 1280px) {
  .startpage__content {
    margin-top: 0;
  }
}

@media (max-width: 767.9999px) {
  .startpage__header-title--link {
    font-size: 1.25rem;
    line-height: 2;
    margin-left: .5rem;
    margin-bottom: 1.625rem;
    
    span {
      box-shadow: 8px 0 0 #178079, -8px 0 0 #178079;
    }
  }
}

@media (max-width: 375.9999px) {
  .startpage__header-title--link {
    margin-bottom: .9375rem;
  }
}
