///
/// ICONS
///============================================================================
$base-arrow-width: 0.5rem;
$base-arrow-height: 0.75rem;

.icon-arrow {
  display: inline-block;
  width: $base-arrow-width;
  height: $base-arrow-height;
  background-image: url('../images/arrow.svg');
  background-size: $base-arrow-width $base-arrow-height;
  background-position: bottom;
  background-repeat: no-repeat; 
  margin-left: 0.625rem;

  &--white {
    background-image: url('../images/arrow-white.svg');
  }
  
  &--lg {
    width: calc(#{$base-arrow-width}*1.3333);
    height: calc(#{$base-arrow-height}*1.3333);
    background-size: calc(#{$base-arrow-width}*1.3333) calc(#{$base-arrow-height}*1.3333);
  }
}

.icon-close {
  padding: 0.375rem 0.75rem 0.375rem calc(20px + 0.85rem);
  background-image: url('../images/close.svg');
  background-size: 0.85rem;
  background-position: left 12px center;
  background-repeat: no-repeat; // margin-right: 0.5rem;
  border-radius: 3px;
  cursor: pointer;
  color: $color-black;

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    background-color: $color-purple-light;
    color: $color-black;
    text-decoration: none;
  }
}

.icon-warning {
  background-image: url('../images/warning.svg');
  background-repeat: no-repeat;
}

.icon-search {
  background-image: url('../images/search.svg');
  background-repeat: no-repeat;
}

.icon-dropdown-arrow {
  background-image: url('../images/arrow-dropdown.svg');
  background-repeat: no-repeat;
}

@media (max-width: 767.9999px) {
  .icon-arrow { 
    width: calc(#{$base-arrow-width}*0.9166);
    height: calc(#{$base-arrow-height}*0.9166);
    background-size: calc(#{$base-arrow-width}*0.9166) calc(#{$base-arrow-height}*0.9166); 
  }
  .icon-arrow--lg { 
    width: calc(#{$base-arrow-width}*1.0833);
    height: calc(#{$base-arrow-height}*1.0833);
    background-size: calc(#{$base-arrow-width}*1.0833) calc(#{$base-arrow-height}*1.0833); 
  }
}

