///
/// ICONS
///============================================================================

.icon--arrow {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  background-image: url('../images/arrow.svg');
  background-size: 0.75rem 0.75rem;
  background-position: right 0px center;
  background-repeat: no-repeat; 
  margin-left: 0.5rem;
}
