<header class="siteheader">
	<div class="tools">
		<img src="http://www.placekitten.com/350/100" />
		<nav class="a11y-links">
			<a href="#">Lyssna</a>
			<a href="#">Languages</a>
			<a href="#">Sök</a>
		</nav>
	</div>
	{{ render '@sitenav' }}
</header>