.siteheader {
	.tools {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1em 3em;
	}

	.a11y-links {
		color: $color-gray-dark;

		a {
			padding: 0 0.2em;
			color: inherit;
			text-decoration: none;
		}
	}
}