$block: 'notification';

.#{$block} {

  &.close {
    animation: fadeInUp 1s ease .2s 1 both;
  }

  &--success {
    background-color: $color-turq-light;
    &.bordered {
      border-top: 3px solid $color-turq;
    }
    &.animated {
      animation: fadeInDown 1s ease .2s 1 both;
      animation-delay: 0s;
    }
  }

  &--warning {
    background-color: $color-yellow-light;
    &.bordered {
      border-top: 3px solid $color-yellow;
    }
    &.animated {
      animation: fadeInDown 1s ease .2s 1 both;
      animation-delay: 0.5s;
    }
  }

  &--error {
    background-color: $color-pink;
    &.bordered {
      border-top: 3px solid $color-pink-dark;
    }
    &.animated {
      animation: fadeInDown 1s ease .2s 1 both;
      animation-delay: 1s;
    }
  }

  &--info {
    background-color: $color-blue-light;
    &.bordered {
      border-top: 3px solid $color-blue;
    }
    &.animated {
      animation: fadeInDown 1s ease .2s 1 both;
      animation-delay: 1.5s;
    }
  }

  &__flash {
    padding: 14px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
  }

  &__textbox {
    padding: 24px 10px 20px 10px;
  }
}

@media (max-width: 767.9999px) {
  .notification__textbox {
    padding-left: 0;
    padding-right: 0;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fadeInUp {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
