<div class="skv-feedback">
  <span class="skv-feedback__text text-standard">Hjälpte informationen på den här sidan dig?</span>
  <div class="skv-feedback__buttons">
    <button class="skv-feedback__button btn btn--primary btn--small">Ja</button>
    <button class="skv-feedback__button btn btn--primary btn--small">Nej</button>
  </div>
</div>
