<div class="feedback">
  <span class="feedback__text text-standard">Hjälpte informationen på den här sidan dig?</span>
  <div class="feedback__buttons">
    <button class="feedback__button btn btn--primary btn--small">Ja</button>
    <button class="feedback__button btn btn--primary btn--small">Nej</button>
  </div>
</div>
