<div class="skv-feedback skv-feedback--textarea">
  <div class="form-group form-group--margin-b-small">
    <label class="form-label" for="exampleTextarea1">Tack, berätta gärna hur vi kan förbättra den här sidan</label>
    <textarea class="form-control" id="exampleTextarea1" rows="4" aria-describedby="textareaHelp" placeholder="Platshållare"></textarea>
  </div>
  <button class="btn btn--primary btn--small">Skicka</button>
</div>
