<!DOCTYPE html>
<html lang="{{ lang }}" class="no-js">
<head>
  {{ render '@head' }}
</head>
<body>
{{ render '@inline-svg' }}
{{{ yield }}}
<script async defer src="/js/main.min.js"></script>
</body>
</html>
