$block: 'accordion';

.#{$block} {
  &__item {

    &:first-child {
      // First item in the accordion should not have a border
      .accordion__item-link:not(:focus) {
        border-top-color: transparent;
      }
    }

    &-header {
      margin-bottom: 0;
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .3125rem 0 .3125rem .875rem;
      border: 1px solid transparent;
      border-top: 1px solid $color-purple;
      color: $color-purple-dark;
      font-weight: $font-weight-medium;

      @include media-query('md') {
        padding: 1rem .25rem 1rem .875rem;
      }

      &:focus {
        outline: 0;
        border: 2px solid $color-yellow;
        margin: -1px;
      }

      &:hover,
      &:focus,
      &:active,
      &:active:focus {
        color: $color-purple-dark;
      }
      
      &:active {
        border-color: transparent;
      }
    }

    &-body {
      display: none;
      padding: 1.625rem;
      font-size: 1.125rem;

      .#{$block}__item--open & {
        display: block;
      }
    }

    &-icon {
      .#{$block}__item--open & {
        transform: rotate(-90deg);
      }
    }
  }
}
