// @define box
// A generic box container

$block: 'box';

.#{$block} {
  border-top: 3px solid $color-purple-dark;
  background-color: $color-white;
  box-shadow: 0 12px 24px 0 rgba(108, 39, 106, 0.25);
  padding: $spacer-large;

  &--margins {
    margin: 0 12px 34px 0; // Account for drop shadow
  }
  &--no-padding {
    padding: 0;
  }
}
