$block: 'content-navigation-list';

.#{$block} {

  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    padding: 0.75rem 0;
    border-bottom: 1px solid $color-purple;
    @include media-min('md') {
      padding: .875rem 0;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    &--no-border {
      border-bottom: none;
    }

    &-text {
      @include media-min('md') {
        margin-top: $baseline-px / 3;
      }
    }

    &-image {
      width: 100%;
      object-fit: contain;
      margin-bottom: 0;
      @include media-min('md') {
        margin-bottom: .25rem;
      }
    }

    &-image-large {
      width: 100%;
      object-fit: contain;
      margin-bottom: .875rem;
    }

    &-link {
      display: block;
      width: 100%;
      text-decoration: none;
      color: $color-purple-dark;
      font-weight: $font-weight-bold;

      &:hover {
        color: $color-purple-dark;
      }

      &:focus,
      &:active,
      &:active:focus {
        color: $color-purple-dark;
      }
    }
  }
}
