$block: 'hero';

.#{$block} {
  position: relative;

  &__banner {
    position: relative;
    margin: 0 ($page-padding-small * 2);

    @include media-query('md') {
      margin: 0 ($page-padding-medium * 2);
    }
    @include media-query('lg') {
      margin: 0 $page-padding;
    }
    @include media-query('xl') {
      margin: 0 auto;
      max-width: $page-max-width - ($page-padding * 2);
    }

    &-body {
      position: absolute;
      bottom: 30px;
      left: 0;

      @include media-query('md') {
        bottom: 60px;
      }
      @include media-query('lg') {
        bottom: 140px;
      }

      &-text {
        font-size: 1.25rem;
        line-height: 2;
        margin-left: .5rem;
        color: $color-white;

        @include media-query('md') {
          font-size: 2.375rem;
          line-height: 1.7;
          margin-left: .875rem;
        }

        &:hover {
          color: $color-white;
        }

        &:focus,
        &:active {
          color: $color-white;
        }

        &-stripe {
          background-color: #178079;
          padding: .375rem 0;
          box-decoration-break: clone; // Firefox fix ???
          box-shadow: 8px 0 0 #178079, -8px 0 0 #178079;

          @include media-query('md') {
            box-shadow: 14px 0 0 #178079, -14px 0 0 #178079;
          }
        }
      }
    }
  }


  &--overlap {
    @include media-query('lg') {
      margin-bottom: -140px;
    }
    .#{$block}__banner-body {
      @include media-query('md') {
        bottom: 60px;
      }
      @include media-query('lg') {
        bottom: 200px;
      }
    }
  }
}
