///
/// ICONS
///============================================================================

.icon-arrow {
  display: inline-block;
  width: rem(10px);
  height: rem(12px);
  background-image: url('../assets/img/arrow-right.svg');
  background-size: rem(20px);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: .25rem;

  @include media-min('md') {
    background-size: rem(22px);
  }

  &--white {
    background-image: url('../assets/img/arrow-white.svg');
  }

  &--lg {
    background-size: rem(22px);

    @include media-min('md') {
      width: rem(12px);
      height: rem(14px);
      background-size: rem(28px);
    }
  }

  &--xlg {
    background-size: rem(22px);
    width: rem(8px);
    height: rem(12px);
    
    @include media-min('md') {
      width: rem(20px);
      height: rem(24px);
      background-size: rem(48px);
      margin-left: 0;
    }
  }

  &--down {
    background-image: url('../assets/img/arrow-right.svg');
    width: 2.25rem;
    height: 2.25rem;
    background-size: 1.75rem;
    transform: rotate(90deg);

    @include media-min('md') {
      background-size: 2.25rem;
    }
  }
}

.icon-close {
  padding: 0.375rem 0.75rem 0.375rem calc(12px + 1.5rem);
  background-image: url('../assets/img/close.svg');
  background-size: 1.5rem;
  background-position: left 6px center;
  background-repeat: no-repeat; 
  border-radius: 3px;
  cursor: pointer;
  color: $color-black;

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    background-color: $color-purple-light;
    color: $color-black;
    text-decoration: none;
  }
}

.icon-error {
  background-image: url('../assets/img/error.svg');
  background-repeat: no-repeat;
}

.icon-search {
  background-image: url('../assets/img/search.svg');
  background-repeat: no-repeat;
}

.icon-dropdown-arrow {
  background-image: url('../assets/img/arrow-dropdown.svg');
  background-repeat: no-repeat;
}

.icon-dropdown-arrow-disabled {
  background-image: url('../assets/img/arrow-dropdown-disabled.svg');
  background-repeat: no-repeat;
}

.icon-lock,
.icon-hyperlink {
  padding-right: 1.25rem;
  background-size: 1.125rem;
  background-position: right center;
  background-repeat: no-repeat;
}

.icon-lock {
  background-image: url('../assets/img/lock.svg');
}

.icon-hyperlink {
  background-image: url('../assets/img/hyperlink.svg');
}

.icon-volume {
  background-image: url('../assets/img/volume.svg');
  background-repeat: no-repeat;
}

.icon-volume-disabled {
  background-image: url('../assets/img/volume-disabled.svg');
  background-repeat: no-repeat;
}
