$block: 'mobile-menu';

.#{$block} {

  display: none;

  &--open {
    display: block;
  }

  &__links {
    height: 100%;
    padding: 0;
    background-color: $color-purple-light;
  }

  &__header {
    min-height: 4.5rem;
    padding: 1rem 0;
    background-color: $color-white;
    border-top: 3px solid $color-purple-dark;

    &-title {
      margin: 0;
    }

    &-link {
      font-size: rem(16px);
      line-height: rem(24px);
    }

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__list {
    width: 100%;
    list-style: none;
    padding: .125rem 0;
    margin: 0;

    &-item {
      width: 100%;
      padding: 0.625rem 0;
      border-bottom: 1px solid $color-purple;

      &:last-child {
        border-bottom: none;
      }

      &-link {
        width: 100%;
        text-decoration: none;
        color: $color-purple-dark;
        font-weight: $font-weight-bold;
        font-size: rem(20px);
        line-height: rem(26px);

        &:hover,
        &:focus,
        &:active,
        &:active:focus {
          color: $color-purple-dark;
        }
      }
    }
  }
}
