$block: 'substartpage';

.#{$block} {
  background-color: $color-purple-light;

  &__content {
    border-top: 3px solid $color-purple-dark;
    min-height: 400px;
    background-color: $color-white;
    box-shadow: 0 12px 24px 0 rgba(108, 39, 106, 0.25);
    
    @include media-query('xl') {
      max-width: 1244px;
    }
  }
}
