$block: 'substartpage';

.#{$block} {
  background-color: $color-purple-light;

  &__header {
    position: relative;

    &-section {
      position: absolute;
      bottom: 0;
      width: 100%;

      &-label {
        display: inline-block;
        padding: 0.5625rem 1.125rem 0.5625rem .75rem;
        color: $color-white;
        background-color: $color-purple-dark;
        font-size: 1.375rem;
        line-height: 1;
        font-weight: 500;
        border-top-right-radius: 1.125rem;
        
        @include media-query('md') { 
          padding: 1rem 1.25rem 1rem .875rem;
          font-size: 1.5rem;
        }
      }
    }
  }

  &__box {
    background-color: $color-purple-light;
    padding-top: .875rem;
    padding-bottom: .875rem;

    &--flex {
      display: flex;
    }

    &-item {
      width: 100%;
      padding: 0.6875rem 0 0.6875rem 0.75rem;
      background-color: $color-purple-light;
      border-bottom: 1px solid $color-purple;

      @include media-query('md') { 
        min-height: 7rem;
        margin: .875rem 0;
        padding: 1rem;
        border: 2px solid transparent;
        box-shadow: 0 6px 14px 0 rgba(108, 39, 106, 0.25);
        background-color: $color-white;
      }
      
      &:hover, &:focus {
        border-bottom: 1px solid $color-purple;

        @include media-query('md') { 
          border: 2px solid $color-purple-dark;
        }
      }

      &--no-border {
        border: 0;
        &:hover, &:focus {
          border: 0;
        }
      }

      &-link {
        color: $color-purple-dark;
        font-size: 1.1875rem;
        line-height: 1.26;
        font-weight: 600;

        @include media-query('md') {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          height: 100%;
          font-size: 1.5rem;
        }

        @include media-query('md') { 
          &>.icon-arrow {
            visibility: hidden;
          }
        }

        &:hover,
        &:focus,
        &:active,
        &:active:focus {
          color: $color-purple-dark;
        }
      }
    }
  }

  &__content {
    border-top: 3px solid $color-purple-dark;
    min-height: 400px;
    background-color: $color-white;
    box-shadow: 0 12px 24px 0 rgba(108, 39, 106, 0.25);
    
    @include media-query('xl') {
      max-width: 1244px;
    }
  }
}
