$block: 'toc';

.#{$block} {
  border-left: 3px solid $color-blue;
  padding-left: 1rem;
  padding-right: 1rem;

  @include media-min('md') {
    padding: .375rem 1.5rem;
  }

  &__title {
    font-weight: $font-weight-bold;
    margin-bottom: .75rem;
    margin-top: 0;
  }

  &__list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      padding: .25rem 0;

      &-link {
        font-weight: $font-weight-bold;
      }
    }

    // Is sub list (nested)
    &--sub {
      padding-left: 1.875rem;
      .toc__list-item-link {
        font-weight: 400;
      }
    }
  }

  @media (max-width: 767.9999px) {
    & {
      padding-left: 1rem;
      padding-right: 1rem;
      margin-left: 0;
    }
  }
}
