@import "mixins";

// Variables
// These variables should be global and reused across components.
// If a variable is only used in one component it should probably not
// be placed here but moved to the component as a local :root variable


// Grid and page defining space
$page-max-width: rem(1244) !default;
$page-padding: rem(54) !default;
$page-padding-medium: rem(26) !default;
$page-padding-small: rem(15) !default;
$grid-gutter: rem(14) !default;
$grid-gutter-small: rem(7.5) !default;
$baseline: rem(28) !default;
$baseline-px: 28px !default;

// ============= Colors =============

// Links
$color-blue: #0079C2 !default;
$color-blue-dark: #005182 !default;
$color-grass: #386406 !default;

// Backgrounds and decoration
$color-purple-dark: #692969 !default;
$color-purple-light: #F8F4F8 !default;
$color-purple: #E1D4E1 !default;

// Greys and base
$color-black: #000000 !default;
$color-white: #FFFFFF !default;
$color-gray: #666666 !default;
$color-gray-lighter: #CFCFCF !default;
$color-gray-light: #F3F3F3 !default;
$color-gray-dark: #292929 !default;

// Status
$color-error: #CD2126 !default;

// Focus
$color-yellow: #FCB933 !default;

// Complementary
$color-turq: #178079 !default;

// Application
$color-link: $color-blue !default;
$color-link-hover: $color-blue-dark !default;

// ============= Font size =============
// Headings
$font-size-base: 1rem !default;     // 16px - assumes the browser default
$font-size-h1: rem(45px) !default;
$font-size-h2: rem(36px) !default;
$font-size-h3: rem(25px) !default;
$font-size-h4: rem(20px) !default;
$font-size-h5: 1.125rem !default;   // 18px
$font-size-h6: 1rem !default;       // 16px

// Text
$font-size-big: rem(25px) !default;
$font-size-std: rem(20px) !default;
$font-size-sm: rem(18px) !default;

// ============= Font weight =============
$font-weight-base: 400 !default;
$font-weight-book: $font-weight-base !default;
$font-weight-bold: 600 !default;

// ============= Line height =============
// Headings
$line-height-h1: rem(54px) !default;
$line-height-h2: rem(46px) !default;
$line-height-h3: rem(32px) !default;
$line-height-h4: rem(28px) !default;
$line-height-h5: $baseline !default;
$line-height-h6: $baseline !default;

// Text
$line-height-big: rem(31px) !default;
$line-height-std: rem(28px) !default;
$line-height-sm: rem(24px) !default;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
// Note: Modal and modal backdrop is set in the javascript component and not here.

// Misc
$cursor-disabled : not-allowed !default;


// Breakpoints map
//
// @prop keys - Keys are identifiers mapped to a given length
// @prop {Map} values - Values are actual breakpoints expressed in pixels
$grid-breakpoints: (
  xs: 0,
  sm: 375px,
  md: 768px,
  lg: 992px,
  xl: 1280px
) !default;
