$block: 'image-article';

.#{$block} {
  display: flex;
  border-top: 3px solid $color-skolverket-purple;
  padding-top: 3.625rem;
  padding-bottom: 1.875rem;
  background-color: $color-white;
  
  & .image-article-header-container {
    min-width: 14.375rem;
    margin-right: 2.5rem;
  }

  &__header {
    width: 100%;

    &-title {
      margin-top: 0.875rem;
      font-weight: 500;
      display: flex;
      flex-direction: row;
      align-items: center;

      &--text {
        margin-right: 0;
      }
      
      &--line {
        margin: 0.875rem 0;
        flex-grow: 1;
        min-width: 3.125rem;
        border: 0;
        height: 3px;
        background-color: $color-purple;
      }
    }

    &-subtitle {
      color: $color-gray;
      font-weight: 500;
      margin-bottom: 0.875rem;
    }
  }

  &__list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      padding: 0.5rem 0;

      &--link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $color-skolverket-purple;
        font-weight: 600;
        margin-top: 0.5rem;

        &:hover {
          color: $color-skolverket-purple;
        }

        &:focus,
        &:active,
        &:active:focus {
          color: $color-skolverket-purple;
        }

        &.margin-text-image-2 {
          margin-top: 0.875rem;
          margin-bottom: 0.25rem;
        }
      }

      &--image {
        width: 100%;
        object-fit: contain;
      }

      &.no-border-bottom {
        border-bottom: 0;
      }
    }
  }
}

@media (min-width: 992px) {
  .image-article__header-title {
    flex-direction: column;
    align-items: flex-start;
  }
  .image-article__list-item--text{
    margin-top: 1rem;
  }
}

@media (max-width: 991.9999px) {
  .image-article {
    padding-top: 1rem; 
  }
  .image-article__header-title--text {
    margin-right: 1.75rem;
  }
  .image-article__header-title--line {
    height: 2px;
  }
}

@media (max-width: 767.9999px) {
  .image-article--col-12 {
    flex-basis: 743px;
  }
  .image-article__list-item {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid $color-purple;
    &.hide-border-bottom {
      border-bottom: 0;
    }
  }
  .image-article__list-item--link {
    margin-top: 0;
  }
}
