

<!DOCTYPE html>
<html lang="sv" class="no-js">
<head>
  <meta charset="UTF-8">
<title>Skolverket</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
<meta name="description" content="Skolverket">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
<link href="/skolverket/css/main.min.css" rel="stylesheet" type="text/css"/>
<noscript>
  <link href="/skolverket/css/no-js.min.css" rel="stylesheet" type="text/css"/>
</noscript>

</head>
<body>
<svg style="height:0;width:0;display:block;" xmlns="http://www.w3.org/2000/svg"><symbol id="icon-expand-more" viewBox="0 0 24 24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/></symbol></svg>
<div class="skv-accordion" id="accordionOne">
  <div class="skv-accordion__item skv-accordion__item--open">
    <h2 class="h3 skv-accordion__item-header" id="headingOne">
      <a class="skv-accordion__item-link text-medium" href="#accordion1">
        Vad ska eleverna lära sig?
        <i class="skv-accordion__item-icon icon-arrow icon-arrow--down"></i>
      </a>
    </h2>
    <div class="skv-accordion__item-body text-standard" data-parent="#accordion">
      <p>I kurs- och ämnesplanerna motsvaras målen för undervisningen av de förmågor som undervisningen ska hjälpa eleverna att utvecklas och som finns sammanfattade under rubriken <em>Syfte</em>. Dessa långsiktiga mål kommer till uttryck i den undervisning kring delar av det centrala innehållet som planeras och genomförs av läraren. Eleverna behöver förstå syftet med undervisningen och målen behöver vara tydliga och relevanta för undervisningssituationen.</p><p>I kursplanen för kommunal vuxenutbildning i svenska för invandrare (sfi) motsvaras målen för undervisningen av <em>Utbildningens mål och karaktär, </em>de inledande meningarna i respektive kurs kunskapsområden.</p><p>Det är viktigt att eleverna får lära sig förstå skillnader i kvalitet mellan olika prestationer. Diskutera och värdera exempel på arbetsprestationer med eleverna eller arbeta fram bedömningsexempel tillsammans med eleverna.</p>
    </div>
  </div>
  <div class="skv-accordion__item">
    <h2 class="h3 skv-accordion__item-header" id="headingOne">
      <a class="skv-accordion__item-link text-medium" href="#accordion1">
        Vad kan de redan?
        <i class="skv-accordion__item-icon icon-arrow icon-arrow--down"></i>
      </a>
    </h2>
    <div class="skv-accordion__item-body text-standard" data-parent="#accordion">
      <p>Den formativa bedömningen är en del av undervisningen. Det är viktigt att utforma undervisningen så att både du och eleverna ser hur och i vilken utsträckning eleverna har lärt eller förstått, det vill säga var de befinner sig i förhållande till målen. Kvaliteten på de uppgifter som eleverna arbetar med eller de frågor du ställer avgör om och hur eleverna får möjlighet att visa sina kunskaper och därmed vilken information du får tillgång till.</p><p>Utifrån den information du samlar in om elevernas kunskaper kan du ändra planeringen och undervisningen för att bättre möta elevernas behov och förutsättningar.</p>
    </div>
  </div>
  <div class="skv-accordion__item">
    <h2 class="h3 skv-accordion__item-header" id="headingOne">
      <a class="skv-accordion__item-link text-medium" href="#accordion1">
        Hur ska eleven göra för att komma vidare?
        <i class="skv-accordion__item-icon icon-arrow icon-arrow--down"></i>
      </a>
    </h2>
    <div class="skv-accordion__item-body text-standard" data-parent="#accordion">
      <p>Läraren, men också eleven själv och andra elever, kan ge återkoppling som för lärandet framåt. Återkopplingen fungerar när den bidrar till att ta elever framåt i deras lärande. Den kan också bidra till att stärka en dialog mellan lärare och elev om hur eleven ska göra för att närma sig målen.</p>
    </div>
  </div>
  <div class="skv-accordion__item">
    <h2 class="h3 skv-accordion__item-header" id="headingOne">
      <a class="skv-accordion__item-link text-medium" href="#accordion1">
        Läs mer om formativ bedömning
        <i class="skv-accordion__item-icon icon-arrow icon-arrow--down"></i>
      </a>
    </h2>
    <div class="skv-accordion__item-body text-standard" data-parent="#accordion">
      <p>Läs mer om formativ bedömning och hur det samspelar med den summativa bedömningen i stödmaterialet Kunskapsbedömning i skolan.</p><p><a href="#">Kunskapsbedömning i skolan - praxis, begrepp, problem och möjligheter</a></p>
    </div>
  </div>
</div>

<script async defer src="/skolverket/js/main.min.js"></script>
</body>
</html>

