

<!DOCTYPE html>
<html lang="sv" class="no-js">
<head>
  <meta charset="UTF-8">
<title>Skolverket</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
<meta name="description" content="Skolverket">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
<link href="/styleguide/css/main.min.css" rel="stylesheet" type="text/css"/>
<noscript>
  <link href="/styleguide/css/no-js.min.css" rel="stylesheet" type="text/css"/>
</noscript>

</head>
<body>
<svg style="height:0;width:0;display:block;" xmlns="http://www.w3.org/2000/svg"><symbol id="icon-expand-more" viewBox="0 0 24 24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/></symbol></svg>
<button class="skv-btn skv-btn--secondary">Knapp</button>

<script async defer src="/styleguide/js/main.min.js"></script>
</body>
</html>

