

<!DOCTYPE html>
<html lang="sv" class="no-js">
<head>
  <meta charset="UTF-8">
<title>Skolverket</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
<meta name="description" content="Skolverket">
<base href="/styleguide/" />
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
<link href="css/main.min.css" rel="stylesheet" type="text/css"/>
<noscript>
  <link href="css/no-js.min.css" rel="stylesheet" type="text/css"/>
</noscript>

</head>
<body>
<svg style="height:0;width:0;display:block;" xmlns="http://www.w3.org/2000/svg"><symbol id="icon-expand-more" viewBox="0 0 24 24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/></symbol></svg>
<div class="skv-section skv-section--boxed">
  <header class="skv-section__header">
    <h2 class="h3 skv-section__header-title"><span class="skv-section__header-title-text">Områdestitel<span></h2>
    <div class="skv-section__header-preamble text-secondary">
      Kontextuell fördjupningstext.
    </div>
  </header>
  <div class="skv-section__body">
    <div class="row">
      <div class="col-12 col-md-6">
        <ul class="skv-content-navigation-list">
            <li class="skv-content-navigation-list__item">
              <a href="#" class="skv-content-navigation-list__item-link text-standard">
                Områdeslänk
                <i class="icon-arrow"></i>
              </a>
              <p class="text-small margin-bt-reset">Sed ut perspiciatis unde omnis iste natus.</p>
            </li>
            <li class="skv-content-navigation-list__item">
              <a href="#" class="skv-content-navigation-list__item-link text-standard">
                Phasellus mattis diam convallis lectus ultricies
                <i class="icon-arrow"></i>
              </a>
              <p class="text-small margin-bt-reset">Doloremque laudantium, totam rem aperiam ipsa quae ab unde omnis.</p>
            </li>
            <li class="skv-content-navigation-list__item">
              <a href="#" class="skv-content-navigation-list__item-link text-standard">
                Phasellus convallis lectus ultricies
                <i class="icon-arrow"></i>
              </a>
              <p class="text-small margin-bt-reset">Totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
            </li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <ul class="skv-content-navigation-list">
            <li class="skv-content-navigation-list__item">
              <a href="#1" class="skv-content-navigation-list__item-link text-standard">
                Områdeslänk
                <i class="icon-arrow"></i>
              </a>
              <p class="text-small margin-bt-reset">Sed ut perspiciatis unde omnis iste natus sed ut perspiciatis unde omnis iste natus.</p>
            </li>
            <li class="skv-content-navigation-list__item">
              <a href="#" class="skv-content-navigation-list__item-link text-standard">
                Phasellus mattis diam convallis lectus ultricies
                <i class="icon-arrow"></i>
              </a>
              <p class="text-small margin-bt-reset">Doloremque totam rem aperiam.</p>
            </li>
            <li class="skv-content-navigation-list__item">
              <a href="#" class="skv-content-navigation-list__item-link text-standard">
                Phasellus convallis lectus ultricies
                <i class="icon-arrow"></i>
              </a>
              <p class="text-small margin-bt-reset">Totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script async defer src="js/main.min.js"></script>
</body>
</html>

