

<!DOCTYPE html>
<html lang="sv" class="no-js">
<head>
  <meta charset="UTF-8">
<title>Skolverket</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
<meta name="description" content="Skolverket">
<base href="/styleguide/" />
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
<link href="css/main.min.css" rel="stylesheet" type="text/css"/>
<noscript>
  <link href="css/no-js.min.css" rel="stylesheet" type="text/css"/>
</noscript>

</head>
<body>
<svg style="height:0;width:0;display:block;" xmlns="http://www.w3.org/2000/svg"><symbol id="icon-expand-more" viewBox="0 0 24 24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/></symbol></svg>
<form>
  <div class="skv-form-group">
    <label class="skv-form-label skv-form-label--margin-reset" for="exampleInputEmail1">Textfältstitel</label>
    <input type="email" class="skv-form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Platshållare">
  </div>
  <div class="skv-form-group">
    <label class="skv-form-label skv-form-label--margin-reset" for="exampleInputEmail1">Textfältstitel</label>
    <span id="emailHelp" class="form-text">Kontextuell hjälptext</span>
    <input type="email" class="skv-form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Platshållare">
  </div>
  <div class="skv-form-group">
    <label class="skv-form-label" for="exampleInputDisabled1">Textfältstitel</label>
    <input class="skv-form-control" id="exampleInputDisabled1" type="text" placeholder="Inaktivt textfält" disabled>
  </div>
  <div class="skv-form-group">
    <label class="skv-form-label" for="exampleInputReadonly1">Textfältstitel</label>
    <input class="skv-form-control" id="exampleInputReadonly1" type="text" value="Inaktivt textfält där texten kan kopieras men inte ändras"
      placeholder="Inaktivt textfält" readonly>
  </div>
  <div class="skv-form-group">
    <label class="skv-form-label" for="exampleInputReadonly1">Textfältstitel<span class="text-error">*</span></label>
    <input class="skv-form-control skv-form-control--error icon-error" id="exampleInputReadonly1" type="text" placeholder="">
    <span class="text-error text-small">Hjälpsamt felmeddelande</span>
  </div>
  <div class="skv-form-group">
    <label class="skv-form-label skv-form-label--margin-reset" for="exampleTextarea1">Textfältstitel</label>
    <textarea class="skv-form-control" id="exampleTextarea1" rows="4" aria-describedby="textareaHelp" placeholder="Platshållare"></textarea>
  </div>
</form>

<script async defer src="js/main.min.js"></script>
</body>
</html>

