

<!DOCTYPE html>
<html lang="sv" class="no-js">
<head>
  <meta charset="UTF-8">
<title>Skolverket</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
<meta name="description" content="Skolverket">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
<link href="/css/main.min.css" rel="stylesheet" type="text/css"/>
<noscript>
  <link href="/css/no-js.min.css" rel="stylesheet" type="text/css"/>
</noscript>

</head>
<body>
<svg style="height:0;width:0;display:block;" xmlns="http://www.w3.org/2000/svg"><symbol id="icon-expand-more" viewBox="0 0 24 24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/></symbol></svg>
<div class="skv-reveal" data-js-reveal>
  <header class="skv-reveal__header" data-js-reveal-header>
    <h3 class="skv-reveal__title">Lorem ipsum dolor sit amet</h3>
    <button class="skv-reveal__toggle" aria-label="Lorem ipsum dolor sit amet" aria-controls="1321" aria-expanded="false" data-js-reveal-trigger>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--close">Dölj</span>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--open">Visa</span>
      <span class="skv-reveal__toggle-icon">
        
        <svg class="skv-icon">
          <use xlink:href="#icon-expand-more"></use>
        </svg>
      </span>
    </button>
  </header>
  <div class="skv-reveal__content-wrapper" id="1321" tabindex="-1" data-js-reveal-container>
    <div class="skv-reveal__content">
      
      <div>
        <p>Du måste ha en lärar- eller förskollärarexamen för att få en legitimation. Om du inte har en examen kan du vidareutbilda dig. Vilken utbildning som passar bäst beror på dina tidigare erfarenheter och studier. Det finns olika vägar till examen.</p>
        <h3>Vidareutbildning av lärare (VAL)</h3>
        <p>VAL är en förkortad lärarutbildning som vänder sig till dig som jobbar som lärare eller förskollärare men inte har en lärar- eller förskollärarexamen. Utbildningen bygger vidare på din arbetslivserfarenhet och dina tidigare högskolestudier. Alla som studerar inom VAL har en individuell studieplan.</p>
        <p><a title="länk till annan webbplats" href="http://www.lh.umu.se/utbildning/fortbildning-for-larare/valprojektet/">Läs mer om VAL på Lärarhögskolan i Umeås webbplats</a></p>
        <h3>Utländska lärares vidareutbildning (ULV)</h3>
        <p>ULV vänder sig till dig som har en utländsk lärarexamen. Utbildningen är individuellt anpassad och varierar därför i längd och omfattning.</p>
        <p><a title="länk till annan webbplats" href="http://www.su.se/lararutbildningar/l%C3%A4rare/utl%C3%A4ndska-l%C3%A4rares-vidareutbildning-ulv">Läs mer om ULV på Stockholms universitets webbplats</a></p>
        <h3>Lärarutbildning</h3>
        <p>Det finns många olika lärarutbildningar som skiljer sig till studieform, omfattning och innehåll.</p>
        <p><a title="länk till annan webbplats" href="http://www.studera.nu/">Läs mer om olika utbildningar på studera.nu</a></p>
        <h3>Lärarlyftet</h3>
        <p>Du som är lärare och undervisar utan att ha behörighet i ett eller flera ämnen kan utöka din legitimation med fler behörigheter genom att gå Lärarlyftet. Skolverket erbjuder också kurser till fritidspedagoger i praktisk-estetiska ämnen. Genom Lärarlyftet kan du också få hjälp att validera tidigare kunskaper och färdigheter.</p>
        <p><a href="/skolutveckling/kompetensutveckling/lararlyftets-kurser-och-utbildningar">Säkra behörigheten med Lärarlyftets kurser och utbildningar</a></p>
      </div>
    
    </div>
  </div>
</div>

<script async defer src="/js/main.min.js"></script>
</body>
</html>

