

<!DOCTYPE html>
<html lang="sv" class="no-js">
<head>
  <meta charset="UTF-8">
<title>Skolverket</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
<meta name="description" content="Skolverket">
<base href="/styleguide/" />
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
<link href="css/main.min.css" rel="stylesheet" type="text/css"/>
<noscript>
  <link href="css/no-js.min.css" rel="stylesheet" type="text/css"/>
</noscript>

</head>
<body class="Body--purple">
<svg style="height:0;width:0;display:block;" xmlns="http://www.w3.org/2000/svg"><symbol id="icon-expand-more" viewBox="0 0 24 24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/></symbol></svg>
<div class="skv-mobile-menu">
  <div class="skv-mobile-menu__header">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="skv-mobile-menu__header-container">
            <h1 class="h1 skv-mobile-menu__header-title">Meny</h1>
            <a href="#" class="skv-mobile-menu__header-link icon-close">
              Stäng
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="skv-mobile-menu__links">
    <div class="container">
      <div class="row">
        <div class="col">
          <ul class="skv-mobile-menu__list">
            <li class="skv-mobile-menu__list-item">
              <a href="#1" class="skv-mobile-menu__list-item-link">
                Undervisning
                <i class="icon-arrow"></i>
              </a>
            </li>
            <li class="skv-mobile-menu__list-item">
              <a href="#2" class="skv-mobile-menu__list-item-link">
                Skolutveckling
                <i class="icon-arrow"></i>
              </a>
            </li>
            <li class="skv-mobile-menu__list-item">
              <a href="#3" class="skv-mobile-menu__list-item-link">
                Lagar och regler
                <i class="icon-arrow"></i>
              </a>
            </li>
            <li class="skv-mobile-menu__list-item">
              <a href="#4" class="skv-mobile-menu__list-item-link">
                Innehåll A-Ö
                <i class="icon-arrow"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="skv-header">
  <div class="skv-header__top">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="skv-header__top-container">
            <a href="#">
              <img src="assets/img/skolverket-logotype.svg" alt="Skolverket" class="skv-header__top-logo" />
            </a>
            <ul class="skv-header__list">
              <li class="skv-header__list-item">
                <a href="" class="skv-header__list-item-listen">
                  Lyssna
                </a>
              </li>
              <li class="skv-header__list-item">
                <a href="" class="skv-header__list-item-translate">
                  Languages
                </a>
              </li>
              <li class="skv-header__list-item">
                <a href="" class="skv-header__list-item-search">
                  Sök
                </a>
              </li>
              <li class="skv-header__list-item">
                <a href="" class="skv-header__list-item-mobilemenu">
                  Meny
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="skv-header__links">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="skv-header__links-container">
            <ul class="skv-header__list skv-header__list--absolute">
              <li class="skv-header__list-item">
                <a href="#" class="skv-header__list-item-link skv-header__list-item-link--active">
                  Undervisning
                </a>
              </li>
              <li class="skv-header__list-item">
                <a href="#" class="skv-header__list-item-link">
                  Skolutveckling
                </a>
              </li>
              <li class="skv-header__list-item">
                <a href="#" class="skv-header__list-item-link">
                  Lagar och regler
                </a>
              </li>
              <li class="skv-header__list-item">
                <a href="#" class="skv-header__list-item-link">
                  Innehåll A-Ö
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="skv-hero">
  <img src="/styleguide/tmp/img/understart.png" width="100%" alt="Error with image loading..." />
  <div class="skv-hero__banner">
  </div>
</div>
<div class="skv-section-navigation">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="h3 skv-section-navigation__label skv-section-navigation__label--overlap">
          Sektionstitel
        </h3>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <div class="skv-section-navigation__box">
          <div class="skv-section-navigation__box-item">
            <a href="#" class="skv-section-navigation__box-item-link">
              Navigationsval 1<i class="icon-arrow"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <div class="skv-section-navigation__box">
          <div class="skv-section-navigation__box-item">
            <a href="#" class="skv-section-navigation__box-item-link">
              Navigationsval 2<i class="icon-arrow"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <div class="skv-section-navigation__box">
          <div class="skv-section-navigation__box-item">
            <a href="#" class="skv-section-navigation__box-item-link">
              Navigationsval 3<i class="icon-arrow"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <div class="skv-section-navigation__box">
          <div class="skv-section-navigation__box-item">
            <a href="#" class="skv-section-navigation__box-item-link">
              Navigationsval 4<i class="icon-arrow"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <div class="skv-section-navigation__box">
          <div class="skv-section-navigation__box-item">
            <a href="#" class="skv-section-navigation__box-item-link">
              Navigationsval 5<i class="icon-arrow"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <div class="skv-section-navigation__box">
          <div class="skv-section-navigation__box-item">
            <a href="#" class="skv-section-navigation__box-item-link">
              Navigationsval med extra mycket text<i class="icon-arrow"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="skv-box skv-box--no-padding">
    <div class="skv-section skv-section--boxed">
      <header class="skv-section__header">
        <h2 class="h3 skv-section__header-title"><span class="skv-section__header-title-text">Sektionstitel<span></h2>
        <div class="skv-section__header-preamble text-secondary">
          <p>Kontextuell fördjupningstext <a href="/press" class="text-link">med länk</a></p>
        </div>
      </header>
      <div class="skv-section__body">
        <img src="http://placehold.it/800x250/ffffff/E8D3E0?text=(Sektionens innehåll)" style="max-width: 100%" />
      </div>
    </div>
  </div>
</div>

<footer class="skv-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5">
        <div class="skv-footer__header-container">
          <a class="skv-footer__logo" href="#">Skolverket</a>
          <div class="skv-footer__description text-standard">Skolverket arbetar för att alla barn, ungdomar och vuxna ska få en utbildning av god kvalitet.</div>
        </div>
      </div>
      <div class="col-12 col-lg-7">
        <div class="skv-footer__navigation-container">
          <ul class="skv-footer__navigation">
            <li class="skv-footer__navigation-item">
              <a href="#1" class="skv-footer__navigation-item-link text-standard">
                Kontakt
                <i class="icon-arrow icon-arrow--white"></i>
              </a>
            </li>
            <li class="skv-footer__navigation-item">
              <a href="#2" class="skv-footer__navigation-item-link text-standard">
                Om Skolverket
                <i class="icon-arrow icon-arrow--white"></i>
              </a>
            </li>
            <li class="skv-footer__navigation-item">
              <a href="#3" class="skv-footer__navigation-item-link text-standard">
                Våra webbplatser
                <i class="icon-arrow icon-arrow--white"></i>
              </a>
            </li>
            <li class="skv-footer__navigation-item">
              <a href="#4" class="skv-footer__navigation-item-link text-standard">
                Press
                <i class="icon-arrow icon-arrow--white"></i>
              </a>
            </li>
          </ul>
          <ul class="skv-footer__navigation">
            <li class="skv-footer__navigation-item skv-footer__navigation-item--no-border-bottom">
              <a href="#5" class="skv-footer__navigation-item-link skv-footer__navigation-item-link--purple text-small">
                Om webbplatsen
              </a>
            </li>
            <li class="skv-footer__navigation-item skv-footer__navigation-item--no-border-bottom">
              <a href="#5" class="skv-footer__navigation-item-link skv-footer__navigation-item-link--purple text-small">
                Kakor
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<script async defer src="js/main.min.js"></script>
</body>
</html>

